


@media screen and (max-width: 767px) {

.cont-form {
     width:unset; 
    margin: auto;
}

.blog-article h3{
  font-size: 18px;    
}

.back {
    margin-bottom: 10px;
}

.btn-join{
	display:none;
}

.login-menu li a {
    color: #fff;
    padding: 0 5px;
}

.login-menu {  
    margin-top: 22px;
    padding: 0;
}

.coach {
    width: 100%;   
}

.coach h1 {   
    font-size: 24px;
   
}

.take-seat{
   font-size:20px;
}

.welcome-text {    
     width: 80%;   
}

.therapist {   
     margin-right:0px;
     padding: 77px 24px;
}

.therapist h3{   
     font-size:20px;
}


.therapist-photo-alt {
    margin-right:0px;
}

.therapist-alt {   
     margin-left:0px; 
}

.therapist-photo {
     margin-left:0px; 
}

.therapist-row .col-sm-6 {
	padding:0;
}

.footer {
	text-align:center;	
}

.copyright {
     margin-top:0px;   
}


.therapist-alt {   
     margin-right:0px;
     padding: 77px 24px;
}

.therapist-alt h3{   
     font-size:20px;
}

.main-slider .carousel-indicators {   
 top: 187px;
}

.postcode .input-group>.input-group-append>.btn {   
    width: 60px;  
}

.therapy-cat select {
    width: 70%;
    margin-top: 60px;    
}

.therapy-cat h2 {   
    font-size: 24px;
}

.tag {
    margin-top: 25px;
}

.tag ul {   
    width:unset;    
}

.therapy-cat {
    padding: 0 10px;
}

.filter {
    margin-bottom:30px;
}

.infohub-content {
    margin:0 15px;
}

.verticle-line{
  display:none;
}

.leftside {
  flex: 0 0 100%;
  max-width: 100%;
}

.rightside {
    flex: 0 0 100%;
    max-width: 100%;
}
.dashboard {   
    flex-direction:column;
}


.dash-nav span {  
  font-size:26px;   
}

.toggle-icon {
padding-left: 15px;
}

.responsive-menu {
    display:none;
}

.expand {
 display: block !important; 
}

.toggle-icon{
  display:block !important;
}

.toggle-icon {
    display: block !important;
    width: 100%;
    background: #00b6ed;
    color: #fff;
    padding: 7px 15px;
}

.dash-nav ul {    
     margin:0px 0 0 0; 
}

.booking-tab .nav-tabs .nav-link {  
    margin-right:0;
    padding:5px 15px;     
}

.availablity {
    margin-top: 30px;
}

.working-hours .custom-select {
    border-color: #000;
    width: 100px;
}

.datepicker {   
    width: 264px !important;
}


.listing-box {    
     display:block;
     margin-right:unset;
}

.view-profile .book {
     margin-top:0px;   
}

.view-profile {
     margin-top:0px; 
    margin-bottom: 30px;
}

.therapist-price .price {  
    font-size: 24px;
}

p.review {   
    border-bottom: 1px solid #e0dbdb;
    padding-bottom: 15px;
}

.therapist-price {
    margin-left: -15px;
}

.image-upload .col-md-4 {
     margin-left:unset;
     margin-top:15px; 
}

.upload-btn-wrapper .btn {
  width:100%;
}

 .pricing label {   
    width: 100%;
    max-width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.earning h5 {   
    padding: 10px 30px 10px 40px;    
}

.therapist-info .accre {
  width:unset !important;
}

.therapist-info .age {
    width:unset !important;
}

.therapist-info .dropdown-menu { 
    width:unset;

}

.therapist-info .dropdown {
    display: block;
}

.therapist-info .btn-secondary{
  width:100%;
}

}


@media screen and (min-device-width:768px) and (max-device-width: 991px) {


.therapist {
    padding: 43px 29px;   
}

.therapist-row h3 {
  font-size:16px;
}

.therapist-slide .carousel-indicators {
     bottom:0; 
}

.therapist-slide .carousel-item {
    min-height: 144px;
}

.therapist-alt {
    padding: 35px 60px;    
}

.coach {
    width: 80%;
    margin: auto;
}
.therapy-cat select {
    width: 30%;
    margin: auto;
    color: #fff;
    background: #00a9ea;
    border: unset;
}







.leftside {
  flex: 0 0 100%;
  max-width: 100%;
}

.rightside {
    flex: 0 0 100%;
    max-width: 100%;
}
.dashboard {   
    flex-direction:column;
}


.dash-nav span {  
  font-size:26px;   
}

.toggle-icon {
padding-left: 15px;
}

.responsive-menu {
    display:none;
}

.expand {
 display: block !important; 
}

.toggle-icon{
  display:block !important;
}

.toggle-icon {
    display: block !important;
    width: 100%;
    background: #00b6ed;
    color: #fff;
    padding: 7px 15px;
}

.dash-nav ul {    
     margin:0px 0 0 0; 
}

.booking-tab .nav-tabs .nav-link {  
    margin-right:0;
    padding:5px 15px;     
}

.total-text {
    padding-top: 25px;
    font-size: 13px;
}

.availablity .table {
    table-layout: fixed;
    margin-top:30px;
}

.availablity .table td, .availablity .table th {   
    word-wrap: break-word;
}

.image-upload .col-md-4 {
     margin-left:unset;
     margin-top:15px; 
}

.upload-btn-wrapper .btn {
  width:100%;
}


.therapist-info .accre {
  width:unset !important;
}

.therapist-info .age {
    width:unset !important;
}

.therapist-info .dropdown-menu { 
    width:unset;

}




}

@media screen and (min-device-width: 991px) and (max-device-width: 1024px) {
.coach {
    width: 60%;  
}

.therapist {
    padding: 48px 60px;   
}
.therapist-alt {
    padding: 64px 60px;
    
}


.availablity .table {
    table-layout: fixed;
    margin-left:45px;
   
}

.availablity .table td, .availablity .table th {   
    word-wrap: break-word;
}

.booking-tab .nav-tabs .nav-link {   
    margin-right: 10px;   
}

.dash-nav ul a {  
    padding: 10px 10px 10px 10px;   
}

.back-home {   
    padding-left: 10px;  
}


}

@media screen and (min-device-width: 1440px) and (max-device-width: 1600px) {
  .therapist {
    padding: 134px 60px;   
}

.therapist-alt {
    padding: 133px 60px;    
}


}


@media screen and (min-device-width: 1920px) {
  .therapist {
    padding: 227px 60px;
    margin-right: -15px;
}

.therapist-alt {
    padding: 211px 60px;
    margin-left: -15px;
}

.pending {   
    height: 288px;   
}

.pend-text {
    padding-top: 80px;
    font-weight: 500;
}

.therapist-about {
    padding: 191px 60px !important;
}



}
