
html, body {
  overflow-x:hidden;
}

body {
	margin:0;
	padding:0;
	font-family: 'Ubuntu', sans-serif;
}

.btn:focus {
    outline: 0;
    box-shadow:none !important;
}

a {
   transition: 0.3s;
}


.theme-gradient {
background: #e6007e; /* Old browsers */
background: -moz-linear-gradient(45deg, #e6007e 0%, #00b6ed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #e6007e 0%,#00b6ed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #e6007e 0%,#00b6ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6007e', endColorstr='#00b6ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.hero-section{  
background: #e6007e; /* Old browsers */
background: -moz-linear-gradient(45deg, #e6007e 0%, #00b6ed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #e6007e 0%,#00b6ed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #e6007e 0%,#00b6ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6007e', endColorstr='#00b6ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
min-height: 368px;
padding-bottom:15px;
}

.bg-blue {
  background-color:#00B6ED !important;
}

.innder-header {
  min-height:120px;
}

.logo {
  margin-top:20px;
}

.join {
  text-align:right;
} 

.btn-join {
    background: #fffdfd;
    display: inline-block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    text-decoration:none;
    transition: 0.3s;
}

.btn-join:hover {    
    text-decoration:none;
    background:#E6007E;
    color:#fff;
}

.blue-text {
	color:#00a9ea;
}

.pink-text{
 color: #d8006b;
}

.bg-pink{
	background:#E6007E !important;
}

.login-menu {
	list-style:none;
	margin-top:10px;
}

.login-menu li{
	display:inline-block;	
}

.login-menu li a{
	color:#fff;
	padding:0 20px;	
}

.login-menu li a:hover{
	color:#E6007E;	
}

.login-menu li:last-child a{
    border-left: 1px solid #fff;
    padding-right:0;
}


.main-slider .carousel-item {
 /* min-height: 565px;*/
}


.main-slider .carousel-indicators {
    position: relative;
    top: 204px;
}

.main-slider .carousel-caption {
  position:unset;
}

.main-slider .carousel-indicators li{
    background-clip: unset;
    border:1px solid #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 25px;
    background:unset;
}

.main-slider .carousel-indicators .active {
    opacity: 1;
    background: #fff !important;
}

.main-slider ol .line  {
  width:200px;
  background:#fff;
}

.main-slider ol li {
  position:relative;
}

.main-slider ol li:nth-of-type(2):before{
    content: '';
    position: absolute;
    width: 35px;
    background: #fff;
    top: 50%;
    left: -43px;
    height: 1px;
}

.main-slider ol li:nth-of-type(3):before{
    content: '';
    position: absolute;
    width: 35px;
    background: #fff;
    top: 50%;
    left: -43px;
    height: 1px;
}



.coach{
  width:43%;
  margin:auto;
}
.coach h1{
  color:#fff;
  margin-bottom:123px;
}

.progress-dot {
  margin-top:30px;
}

.postcode {
    width: 82%;
    margin: auto;
}

.postcode .input-group {
    margin-top: 35px;
}

.postcode .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:46px;
    padding-left: 20px;
    padding-right: 20px;
}

.postcode .input-group>.input-group-append>.btn {
   background:#00a9ea;
   color:#fff;
   border:unset;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   width: 100px;
   font-weight:400;
   font-size: 18px;
}

.postcode .input-group>.input-group-append>.btn:hover {
   background:#E6007E;   
}

.postcode .btn-outline-secondary.focus {
  box-shadow:unset;
}

.postcode span{
  display:block;
  text-align:left;
  color:#fff;
  margin-top:-10px;
  margin-left:20px;
  font-size:12px;
}

.take-seat {
	margin-top:50px;
}

.find-btn {
	margin-top:80px;
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.find-btn a {
    text-align: center;
    background: #fff;
    width: 80px;
    height:80px;
    border-radius: 50%;
    float: left;
   
}

.find-btn a:hover{
    background:#00a9ea;
}

.find-btn span {	
	text-align:center;
	font-size:18px;
	margin-top:10px;
}

.find-btn a .fa-angle-down {
    font-size: 63px;
    line-height: 80px;
    color:#00a9ea;
}

.find-btn a:hover .fa-angle-down {
    color:#fff;
}

.find-btn p {
	color:#fff;
	margin-top:10px;
}

.welcome {
  width:100%;
  max-width:100%;
  float:left;
  padding:60px 0;

}

.welcome .container-fluid{
  padding-right:0px;
  padding-left:0px;
}

.welcome-text {
  text-align:center;
  width:60%;
  margin:auto;
}

.welcome-text h3 {
  color:#00B6ED;
  margin-bottom:30px;
}

.welcome-text p{
  font-size:14px;
}

.divider {
  width:100%;
  max-width:100%;
  text-align:center;
}

.therapist {
    padding: 118px 60px;
    margin-right: -15px;
}


.therapist-photo {
    margin-left:-15px;
}

.therapist-photo-alt {
    margin-right:-15px;
}

.therapist-alt {
    padding: 118px 60px;
    margin-left:-15px;
}

.therapist-photo img {

}

.therapist-slide .carousel-item {
  min-height:171px;
}

.therapist-slide .carousel-caption {   
    top: 35%;
}

.therapist-slide .carousel-indicators{
  bottom:-20%;
}

 .therapist-slide .carousel-indicators li {  
    width: 10px;
    height: 10px;   
    background-clip:unset;
    border-top:unset; 
    border-bottom:unset;  
    border-radius: 50%;
    border:1px solid #fff;
    opacity:unset;
    background:unset;

  }

.therapist-slide .carousel-indicators .active {
    opacity:unset;
    background:#fff;
}

.carousel-fade .carousel-item {
  transition-delay:.5s;
}

.theme-gradient-1:hover {
background: rgb(230,0,126); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(230,0,126,0.4) 0%, rgba(0,182,237,0.4) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(230,0,126,0.4) 0%,rgba(0,182,237,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(230,0,126,0.4) 0%,rgba(0,182,237,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6007e', endColorstr='#00b6ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}

.theme-gradient-1:hover h3{
 color:#E6007E !important;
}

.logo-icon {
  background:url(../images/LogoIcon_White.png);
  background-repeat:no-repeat;
  width:59px;
  height:42px;
  margin:auto;
}

.theme-gradient-1:hover .logo-icon{
  background:url(../images/LogoIcon_Colour.png);
  background-repeat:no-repeat;
  width:59px;
  height:42px;
  margin:auto;
}

.start-search {
  text-align:center;
  margin-top:50px;
}

.start-search .btn-primary {
  background:#00a9ea;
  font-weight:500;
  border-style:unset;
  padding:10px 22px;
  border-radius:8px;
}

.start-search .btn-primary:hover, .start-search .btn-primary:focus {
  background:#00B6ED !important;  
}

.resource-center{
  background:#e9e9eb;
  width:100%;
  float:left;
  clear:both;
  padding:40px 0 60px 0;
}

.resource-center {
  text-align:center;
}

.resource-center h3{
  color:#00B6ED;
  margin-top:30px;
  margin-bottom:40px;
}

.resource-center .card img{
  border-top-left-radius:10px;
}

.resource-center .card {
   border-radius:10px;

}

.resource-center .card-text {
  background:#00B6ED;
  padding:15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align:left;
  transition: 0.3s;
  min-height: 216px;
}

.resource-center .card-text:hover {
  background:#8cc63f;
  padding:15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align:left;
}

.read-more {
  color:#fff;
}

.read-more:hover{
  color:#fff;
  text-decoration:none;
}

.viewall .btn-primary {
    background: #fff;
    border: unset;
    color: #00B6ED;
    margin-top: 40px;
    padding: 10px 60px;
    border-radius:10px;
    font-weight:500;
}

.viewall .btn-primary:hover, .viewall .btn-primary:hover {
    background:#00B6ED !important;
    color: #fff !important;    
}

.social-section {
  padding:50px 0;
  float:left;
  width:100%;
}

.social-section a {
  padding:0 10px;
}

.footer{
  float:left;
  width:100%;
  padding:40px 0;
}

.footer-info {
  list-style:none;
  margin:30px 0 0 0;
  padding:0;
}

.footer-info li {
  color:#fff;
  line-height:30px;
}

.support-link ul {
  list-style:none;
  margin:10px 0 0 0;
  padding:0;
}

.support-link ul li a {
  color:#fff;
  line-height:30px;
}

.support-link ul li a:hover {
  text-decoration:none;  
}

.copyright {
    margin-top: 100px;
    font-size: 13px;
}

.join-pro {
  border-top: 1px solid #939bd8;
  padding-top:15px;
  margin-top:25px;
}

.join-pro p {
  color:#fff;
  font-size:18px;
  text-transform:uppercase;
  margin-left:10px;
  font-weight:500;
}

.join-pro img {
  width:24px;
  height:28px;
}

.resource-center .card {  
    margin-bottom: 20px;
}

.about-para {
  text-align: center;
  width: 60%;
  margin: auto;
}

.mission .container-fluid{
  padding-right:0px;
  padding-left:0px;
}

.about-para p {
  font-size:14px;
} 



.therapist-about {
    padding: 75px 60px !important;  
}

.therapy-cat select{
    width: 15%;
    margin: auto;
    color: #fff;
    background: #00a9ea;
    border: unset;
}

.therapy-cat h2 {
  color:#00B6ED;
}

.tag {
    margin-top: 75px;   
}

.tag ul {
  list-style:none;
  margin:0;
  padding:0; 
  width:80%;
  margin:auto;
}

.tag ul li{
   display:inline-block;   
}
.tag ul li a{
   display:inline-block;
   padding:7px 15px;
   border-radius:25px;
   color:#fff; 
   border:1px solid #fff;
   font-size:12px;
   margin:5px 5px;
   text-transform:uppercase;
   font-weight:normal;
   text-decoration:none;
}

.tag ul li a:hover{
 background:#fff;
 color:#E6007E;
}

.start-search .find-therapist:hover {
  background-color:#8cc63f !important;
}

/***contact***/
.contact {
  text-align:center;
  padding:60px 0;
}
.contact h2 {
  display: block;
  width:100%;
}

.cont-form {
  width:60%;
  margin:auto;
}

.cont-form input, .cont-form textarea{
  margin-bottom:15px;
  border-radius:unset;
}

.cont-form textarea{
 height:121px;
}

.cont-form .btn-primary{
  background-color: #00B6ED;
  border:unset;
  padding: 7px 70px;
  text-transform:uppercase;
  margin-top: 35px;
}

.cont-form .btn-primary:hover, .cont-form .btn-primary:focus{
  opacity:0.9;
  background-color: #00B6ED !important;
}

/***blog-article***/


.back {  
  text-decoration: none;
  margin-top: 15px;
  width:100%;
  float:left;    
}

.back:hover {
  text-decoration:none;
}


.article-slide .item {
 
}

.owl-prev {
    top: -600px;
    position: absolute;
    right: 0;
}

.owl-next {
    top: -600px;
    position: absolute;
    left: 0;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    position: relative;
}




.article-slide h3{
  color:#00B6ED;
  margin-top:30px;
  margin-bottom:40px;
}

.article-slide .card img{
  border-top-left-radius:10px;
}

.article-slide .card {
   border-radius:10px;

}

.article-slide .card-text {
  background:#00B6ED;
  padding:15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align:left;
  transition: 0.3s;
  min-height: 216px;
}

.article-slide .card-text:hover {
  background:#8cc63f;
  padding:15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align:left;
}

.read-more {
  color:#fff;
}

.read-more:hover{
  color:#fff;
  text-decoration:none;
}

.viewall .btn-primary {
    background: #fff;
    border: unset;
    color: #00B6ED;
    margin-top: 40px;
    padding: 10px 60px;
    border-radius:10px;
    font-weight:500;
}

.viewall .btn-primary:hover, .viewall .btn-primary:hover {
    background:#00B6ED !important;
    color: #fff !important;    
}

.article-slide {
  margin-top: 130px;
}


.owl-theme .owl-nav [class*=owl-]:hover {
    background:transparent !important;
    color: #000 !important;
   
}

.owl-theme .owl-nav [class*=owl-]{
   color: #00B6ED !important;
}

.next-art {
  font-weight:bold;
  margin-left:15px;
}

.prev-art {
  font-weight:bold;
}

.owl-theme .owl-dots{
  display:none;
}


.owl-next span:before{
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;  
  border-right:10px solid #00B6ED;
  content:'';
  position:absolute;
  top: 3px;
  left: -9px;
}

.owl-prev span {
  margin-right:15px;
}

.owl-prev span:before{
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;  
  border-left: 10px solid #00B6ED;
  content:'';
  position:absolute;
  top: 3px;
  right:0;
}


/***blog page***/
.filter{
  background:#edefee;
  padding:30px 15px;

}

.accordion-heading {
  position:relative;

}

.filter .accordion-toggle {
  color:#E6007E;
  font-weight:bold;
  margin-left: 25px;
  position: relative;
  margin-bottom:15px;

}

.accordion-toggle:before {   
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;  
  border-left: 7px solid #E6007E;
  content:'';
  position:absolute; 
  left: -25px;
  margin-top: 9px;
}

.accordion-opened .accordion-toggle:after {    
      
}

.filter .accordion-inner ul {
  padding: 0 0 0 29px;
  margin:0 ;
  list-style:none;
 
}

.filter .accordion-inner ul li {
  padding:0;
  margin:5px 0;
 
}

.filter .accordion-inner ul li a {
  color:#000;
  }


.filter .accordion-group {
    margin-bottom: 15px;
}

.latest .title {
  color:#636466;
  font-weight:bold;
}

.latest .more {
  color:#636466;
  font-weight:bold;
}


.infohub-content {
  background:unset !important;
  padding:unset !important;
}


/***login***/
.login .modal-title{
 text-align: center !important;
 width:100%;
font-weight: 400;
}

.login .modal-content{
  background:transparent;
  border:unset;
}

.login .modal-header {
  background:#fff;
  border-radius:unset;
  padding:7px 15px;
}

.login .modal-body {
  background:#fff;
  margin-top:15px;
}


.login-form input{
  border-radius:8px;
}

.login-form .btn-primary {
    background: #00B6ED;
    border: unset;
    padding: 8px 15px;
    border-radius: 8px;  
}


.login-form .btn-primary:hover, .login-form .btn-primary:focus {
    background: #E6007E !important;    
}

.login .modal-dialog {
    max-width: 670px !important;
}

.btn-personal {
  background:#E6007E;
  padding: 7px 25px;
  color:#fff;
  text-decoration:none;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  font-size:18px;
  margin-bottom: 50px;
}

.btn-personal:hover{
  color:#fff;
  text-decoration:none;
}

.login .modal-body {
    padding: unset;
    padding: 0 25px 20px 25px;
    border-bottom: 8px solid #00b6ed;
}

.not-acc {
  color: #908f8f;
}

.not-acc a {
  text-decoration:none;
  color:#00B6ED;
}

.forgot a{
   text-decoration:none;
  color:#00B6ED;
}

.verticle-line {
    position: absolute;
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 0 0 -106pxpx;
    height: 233px;
    left: -15px;
    top: 25%;
}

.login-form {
    position: relative;
    padding: 0 10px;
}


.modal {
text-align: center;
padding: 0!important;
}

.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}

.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

.signup-form {
    width: 650px;
    margin: auto;
    background: #fff;
    border-bottom: 8px solid #00b6ed;
}

.signup-form form {
  padding:0  35px 20px 35px;

}

.signup-form .btn-primary {
    background: #00B6ED;
    border: unset;
    padding: 8px 15px;
    border-radius: 8px;
    width: 50%;
    margin: auto;  
}


.signup-form .btn-primary:hover, .signup-form .btn-primary:focus {
    background: #E6007E !important;    
}

.signup-form .custom-control-label {
  color:#00B6ED;
}

.signup-form .custom-control-label a{
  color:#00B6ED;
  text-decoration:underline;
}

.signup-form input{
  border-radius:8px;
}


/*** admin dasboard ***/

.dashboard{
  display:flex; 
}

.dash-container{
  width:85%;
  margin:auto;
}

.leftside{
  flex:0 0 20%;
  max-width:20%;
  background:#f2f2f2;
  padding:25px 0;
}

.rightside{
  flex:0 0 80%;
  max-width:80%;
  padding-bottom:50px;
}

.john p {
  font-size:13px;
}


.dash-nav ul {
    list-style: none;
    padding: 0;
    margin: 35px 0 0 0;
}

.dash-nav ul li{
  list-style:none;
}

.dash-nav ul a {
    list-style: none;
    padding: 10px 10px 10px 40px;
    color: #E6007E;
    width: 100%;
    float: left;
    font-weight:500;
}
.dash-nav ul a:hover {
    text-decoration:none;
}

.dash-nav ul a.active{
  background:#E6007E;
  color:#fff !important;
}

.dash-nav i {
  margin-right:15px;
}

.back-home {
    color: #E6007E;
    padding-left: 40px;
    margin-top: 20px;
    float: left;
}

.back-home:hover {
  text-decoration:none;
   color: #E6007E;
}

.dashboard-content h2 {
  color:#4d4d4d;
  margin-left:90px;
  margin-top:80px;
}

.earning h5 {
    background: #00B6ED;
    padding: 10px 30px 10px 90px;
    float: left;
    color:#fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 30px; 
}

.dash-circle {
  clear:both;
}

.pending {
  background:#f2f2f2;
  border-radius:50%;
  height: 204px;
  text-align:center;
  width:100%;
  margin-top: 20px;
}

.pend-text {
    padding-top:35px;
    font-weight:500;
}

.total-text{
  padding-top:25px;
}

.booking-tab .nav-tabs .nav-link {    
    font-size: 14px;
    color:#000;
    margin-right: 41px;
    padding-left: 0;
    margin-bottom: 20px;
}


.booking-tab .nav-tabs .nav-link:hover {    
  border-color:transparent;
}

.booking-tab .nav-tabs .nav-link:focus{
    border-color:transparent;
}


.booking-tab .nav-tabs:hover {
     border-color:transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {   
     border-color:unset; 
     border-bottom: 2px solid #E6007E !important;
     border:unset;
     color:#E6007E;
}

.tab-content table th {
  background:#f2f2f2;
  font-size:14px;
}
.tab-content .table td{   
    border-top: 1px solid #000000;
      font-size:14px;
}

.datepicker{
   border:unset !important;
   width: 225px !important;
}

.datepicker--day-name {
  color:#000 !important;
  font-weight:bold; !important;
}

.datepicker--nav-title:hover {
     background:unset !important; 
}

.datepicker--nav-title {  
    font-weight: bold !important;
}

.datepicker--nav-title i {  
    font-weight: bold !important;
    color:#000 !important;
}

.datepicker--nav-action path {   
    stroke: #020000 !important;   
}

.datepicker--cell.-current- {
    color: #000406 !important;
}

.datepicker--nav {
       border-bottom:unset !important; 
}

.avail{
  font-weight:bold;
  margin-top:15px;
  font-size:14px;
}

.avail span {
  background:#24b8bf;
  color:#fff;
  padding:5px 4px;
  border-radius:4px;
  margin-right:4px;
} 

.unavail-bg{
  background:#d7e1e7 !important;
}

.other{
 background:#d4962a  !important;
}



.availablity .table td, .availablity .table th {    
    border: 1px solid #b0b0b1;
    font-size:13px;
    font-weight:bold;
    background: #d7e1e7;
}

.availablity .table th {
  background:#fff !important;
}

.bg-white {
  background:#fff !important; 
}

.availablity .table tr td:nth-child(1){
  background:#fff;
}

.availablity .table tr td:nth-child(1){
  background:#fff;
}

.available{
 background:#7bcfd8 !important;
}

.working-hours {
    margin-top: 30px;
}

.working-hours table th {
  background:#f2f2f2;
}


.working-hours table td, 
.working-hours table th{
  border:unset;
  text-align: center;
}

.working-hours .table td{ 
  padding-bottom:0;
}



.working-hours .custom-select {
  border-color:#000;
}

.working-hours .custom-control-label::before {    
    border-color:#000;
}

.bank-detail {
  margin-top:30px;
}

.bank-detail input {
  border-radius:0;
  margin-bottom:25px;
  border-color:#000;

}

.save-change .btn-primary{
  padding:7px 50px;
  border:unset;
  border-radius:8px;
  background:#00B6ED;
  margin-top:40px;
}

.save-change .btn-primary:hover{
  background:#E6007E;
}
.save-change .btn-primary:focus{
  background:#E6007E !important;
}

.toggle-icon{
  display:none;
}
 
.expand {
 display: block !important; 
}

/*** therapist list ***/

.therapist-info {
    margin-bottom: 15px;
}
.therapist-info h5{
  border-bottom:1px solid #00B6ED;
  width:50%;
  margin:15px 0;
}


.therapist-detail {
  margin-left:-15px;
}

.therapist-price .price {
  font-weight:bold;
  color:#676767;
  font-size:18px;

}

.therapist-detail h4 {
  font-size:20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.therapist-price .price p{
  font-size:12px;
  font-weight:normal;
}
.rating{
  margin-left: -15px;
}
    
.rating i {
  color:#f8b133

}

.therapist-detail address p{
  color: #676767;
  font-size:13px;
}

.therapist-detail address p i{
  margin-right:5px;
}

p.review {
    margin-left: -15px;
    margin-top: 10px;
    color: #676767;
    font-size:13px;
}

.view-profile .btn-primary {
  background:#00B6ED;
  border-color:unset;
  padding:7px 11px;
  border-radius:8px;
}

.view-profile{
  margin-top:40px;
}

.view-profile .btn-primary:hover {
  background:#E6007E;
  border-color:unset !important; 
}

.view-profile .btn-primary:focus {
  background:#E6007E !important;
  border-color:unset !important; 
}

.view-profile .book {
   margin-top:10px;
   padding-left: 37px;
   padding-right: 37px;
}

.listing-box {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    margin-left: 15px;
    margin-right: -15px;
}

.listing-box .carousel {    
    margin-left: -15px;
}

.therapist-photo img {
    width: 100%;
    max-width: 100%;
}

.therapist-photo-alt img {
  width: 100%;
  max-width: 100%;
}

.image-upload {
  margin-top:30px;
}

.image-upload .col-md-8 {
  margin-right:-15px;
}

.image-upload .col-md-4 {
  margin-left:-15px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width:100%;
  max-width:100%;
}

.upload-btn-wrapper .btn {
    border:unset; 
    color: white;  
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    width: 85%;
    margin-top: 15px;
    background: #00B6ED;
    font-weight:500;    
    margin-bottom: 30px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper .fa.fa-long-arrow-up {
    border-bottom: 2px solid;
    padding: 5px;
    margin:0 10px;
}

.edit-profile .content input{
   border:1px solid #737373;
   border-radius:0;
   padding:15px;
   height:50px; 
   margin-bottom:30px;
   padding:0 25px;
}

.edit-profile .content textarea{
   height:200px;
   margin-bottom:30px;
   border:1px solid #737373;
   border-radius:0;
   padding:0 25px;
}

.edit-profile .content select{
   border:1px solid #737373;
   border-radius:0;
   padding:15px;
   height:50px; 
   margin-bottom:30px;
   padding:0 20px;

}

.max-word {
  font-style:italic;
  color:#737373;
}

.location {
  margin-top:30px;
}

.pricing .input-group-text {
    height: 50px;
    padding: 0 25px;
    border-radius: 0;
    background: #f2f2f2;
    border: 1px solid #737373;
    font-size: 24px;
}
.pricing input {   
   border:1px solid #737373;
   border-radius:0;
   padding:15px;
   height:50px; 
   margin-bottom:30px;
   padding:0 25px;
}

.new {
 
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #737373;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 8px;
  width: 35px;
  height: 35px;
}

.form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 17px;
    width: 6px;
    height: 14px;
    border: 1px solid #737373;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.pricing {
    margin-top: 30px;
}

.new {
    margin-top: 30px;
}

 .counselling label {
   color: #666666;
   font-size:22px;   
 }

  .counselling {
    margin-bottom:30px;
  }

 .counselling label {
    color: #666666;
    font-size: 22px;
    width: 100%;
    max-width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


 .anxiety label{
  font-size:20px;
 }

 .therapy-type h4 {  
    color: #666666;
    margin-bottom:30px;
    font-size:22px;
 }


 .terms label {
    color: #666666;
    font-size: 22px;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

 .terms label a {
  color: #868181;
  font-weight:400;
  text-decoration:underline;
 }

.terms {
  margin-top:30px;
}

.therapist-info .btn-secondary{
    display: inline-block;
    padding: 7px 15px;
    border-radius: 25px;
    color: #00B6ED !important;
    border: 1px solid #00B6ED !important;
    font-size: 12px;
    margin: 5px 1.5px;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    background:#fff !important;
}

.dropdown-toggle::after {
  display:none;
}

.therapist-info .dropdown-menu {   
    padding: 30px !important;
    border-radius:8px;
    border:1px solid #E6007E;
    width: 270px;
    margin-top: 10px;

}

.therapist-info .custom-control-input:checked~.custom-control-label::before {
  border-color:#E6007E;
  background-color: #E6007E;

}

.therapist-info .custom-control-label::before {
     left: -2rem;
}

.therapist-info .custom-control {    
    padding-left:2rem;
    margin-bottom:8px;
}

.therapist-info .custom-control-label::after {   
    height: 1rem;
    left: -1.9rem;    
}

.therapist-info .dropdown {
  display:inline;
}


.therapist-info .accre {
  width:500px !important;
}

.therapist-info .age {
    width: 350px !important;
}