@import "variables";
@import "base";
@import "review";
@import "404";
@import "block";

//Modules Media
@import "../../resources/module/media/admin/scss/browser";
body {
    color: #1A2B48;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    overflow-x: hidden;
}
/* Prevents img without src to appear */
//For Lazy Load
img.lazy{
    opacity: 0;
    &:not(.initial) {
        transition: opacity 1s;
    }
    &.initial,
    &.loaded,
    &.error{
        opacity: 1;
    }
}
img:not([src]) {
    visibility: hidden;
}
img[data-src],
img[data-srcset] {
    display: block;
    min-height: 1px;
}

ul, ol {
    padding: 0;
    margin: 0;
}

.clear{
    &:before,
    &:after
    {
        display: table;
        content: "";
        clear: both;
    }
}
[v-cloak]{
    display: none;
}
.bravo_wrap {
    .bravo_topbar {
        background: #1A2B48;
        padding: 15px 0;
        @media(max-width: 768px){
            display: none;
        }
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .socials {
                display: inline-block;
            }

            .socials a {
                padding-right: 18px;
                color: #D1D4DA;
                font-size: 14px;
                text-decoration: none;
            }

            .socials a:first-child {
                padding-left: 0;
            }

            .socials a:last-child {
                padding-right: 0;
            }

            .dropdown-menu .divider {
                margin: 0px 0;
                background-color: #31414a;
            }

            .topbar-items {
                display: inline-block;
                li {
                    padding-left: 18px;
                    padding-right: 18px;
                    display: inline-block;
                    a {
                        color: #FFF;
                        font-weight: 400;
                        font-size: 12px;
                        text-decoration: none;
                    }
                    &:last-child {
                        padding-right: 0px;
                        border-right: 0px;
                    }
                }
            }

            .topbar-left {
                font-size: 14px;
                color: #fff;
                a{
                    color: #fff;
                    font-weight: 400;
                    font-size: 13px;
                    text-decoration: none;
                }
                .line{
                    min-width: 1px;
                    display: inline-block;
                    position: relative;
                    min-height: 1px;
                    margin: 0 10px;
                    &:before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: -13px;
                        height: 20px;
                        border-right: solid 1px #5f7190;
                    }
                }
            }

            .topbar-right {
                font-size: 12px;
            }

            .topbar-right .dropdown-menu {
                right: 0;
                left: auto !important;
                min-width: 200px;
                top: 15px !important;
                border-radius: 0;
            }

            .topbar-right .topbar-items li a {
                font-size: 12px;
            }

            .topbar-right .topbar-items li:last-child {
                padding-right: 0px;
            }

            .dropdown-menu {
                min-width: auto;
                background: #1A2B48;
            }

            .dropdown-menu li {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                &.menu-hr{
                    border-top: 1px solid #31414a;
                }
            }

            .dropdown-menu li a {
                display: block;
                //text-align: right;
                padding: 8px 15px;
                color: #FFF;
                &:hover{
                    text-decoration: none;
                }
            }

            .dropdown-menu li a:hover {
                background: #233448;
            }
        }

    }
    .bravo_header {
        background: #f4f5f9;

        .content {
            background: #f4f5f9;
            display: flex;
            align-items: center;

            .header-left {
                position: relative;
                height: 100%;
                min-height: 90px;
                display: flex;
                align-items: center;
                @media(max-width: 1023px){
                    width: 90%;
                }
                .bravo-logo {

                }

                .bravo-menu {
                    padding-left: 20px;
                    @media(max-width: 768px){
                        display: none;
                    }
                    a {
                        text-decoration: none;
                    }

                    ul {
                        list-style: none;

                        li {
                            display: inline-block;
                            position: relative;

                            a {
                                padding: 35px 25px;
                                display: inline-block;
                                font-size: 14px;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: #1A2B48;
                                transition: all 0.3s;
                            }

                            &.active {
                                color: #5191FA;
                            }

                            > .fa {
                                position: absolute;
                                top: 50%;
                                margin-top: -9px;
                                right: 5px;
                                font-size: 18px;
                                transition: all 0.3s;
                            }

                            > .menu-dropdown {
                                list-style: none;
                                position: absolute;
                                left: 0;
                                top: 120%;
                                padding-left: 0;
                                margin-bottom: 0;
                                min-width: 200px;
                                padding-top: 5px;
                                padding-bottom: 5px;
                                background: #FFF;
                                -webkit-box-shadow: 0 1px 1px #dbdbdb;
                                box-shadow: 0 1px 1px #dbdbdb;
                                z-index: 999;
                                opacity: 0;
                                visibility: hidden;
                                -webkit-transition: all .2s ease-in-out;
                                transition: all .2s ease-in-out;

                                li {
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    display: block;

                                    &:not(:last-child) a {
                                        border-bottom: 1px solid #EEEEEE;
                                    }

                                    a {
                                        padding: 15px 0;
                                        display: block;
                                        font-size: 14px;
                                    }
                                    .menu-dropdown{
                                        top:0px;
                                        left:100%;
                                    }
                                }
                            }

                            &:hover {
                                > .menu-dropdown {
                                    top: 100%;
                                    opacity: 1;
                                    visibility: visible;
                                }

                                > a {
                                    color: #5191FA;
                                }

                                > .fa {
                                    color: #5191FA;
                                }
                            }
                        }
                    }
                }
            }

            .header-right {
                @media(max-width: 1023px){
                    width: 10%;
                }
                position: relative;
                height: 100%;
                text-align: right;
                .bravo-more-menu{
                    border: none;
                    background: transparent;
                    font-size: 32px;
                    padding: 0px 10px;
                    float: right;
                    display: none;
                    @media (max-width: 768px) {
                        display: block;
                    }
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    &.active{
                        background: #1a2b48;
                        color: #fff;
                        border-radius: 5px;
                    }
                }

                .topbar-items {
                    display: inline-block;
                    margin-right: 5px;
                    @media (max-width: 990px) {
                        display: none;
                    }
                    li {
                        padding-left: 18px;
                        padding-right: 18px;
                        display: inline-block;
                        a {
                            color: #000;
                            font-weight: 400;
                            font-size: 12px;
                            text-decoration: none;
                        }
                        &:last-child {
                            padding-right: 0px;
                        }
                    }
                    .login-item{
                        > .is_login {
                            padding-right: 50px;
                            display: block;
                            .avatar,.avatar-text{
                                position: absolute;
                                width: 40px;
                                height: 40px;
                                right: 0;
                                border-radius: 50%;
                                top: -12px;
                            }
                            .avatar-text{
                                align-items: center;
                                background: #1A2B48;
                                justify-content: center;
                                font-size: 20px;
                                color: #fff;
                                display: flex;
                            }
                        }
                    }
                    li a {
                        font-size: 12px;
                    }
                    li:last-child {
                        padding-right: 0px;
                    }
                }


                .dropdown-menu {
                    right: 0;
                    left: auto !important;
                    min-width: 200px;
                    top: 52px !important;
                    border-radius: 0;
                    transform: none !important;
                    background: #1A2B48;
                    li {
                        padding-left: 0;
                        padding-right: 0;
                        width: 100%;
                        &.menu-hr{
                            border-top: 1px solid #31414a;
                        }
                    }
                    li a {
                        display: block;
                        padding: 8px 15px;
                        color: #FFF;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    li a:hover {
                        background: #233448;
                    }
                }
            }
        }

        .bravo-menu-mobile{
            width: 300px;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            background: #fff;
            transform: translate(-105%,0);
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            z-index: 20;
            border-right: solid 1px #1a2b48;
            &.active{
                transform: translate(0);
            }
            .user-profile{
                border-bottom: solid 1px #e6e6e6;
                .b-close{
                    position: absolute;
                    right: 10px;
                    top: 0;
                    z-index: 11;
                    color: #fff;
                    font-size: 34px;
                    cursor: pointer;
                    line-height: 40px;
                }
                .avatar{
                    background: #1a2b48;
                    color: #fff;
                    text-align: center;
                    padding: 20px 0;
                    i{
                        font-size: 34px;
                        border: solid 2px #fff;
                        border-radius: 50%;
                        padding: 15px 17px;
                        display: inline-block;
                    }
                    img{
                        max-width: 80px;
                        border-radius: 50%;
                    }
                }
                ul{
                    padding: 20px;
                    list-style: none;
                    li{
                        margin-bottom: 10px;
                        a{
                            color: #1a2b48;
                            text-decoration: none;
                            i{
                                min-width: 15px;
                                display: inline-block;
                            }
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                    &.multi-lang{
                        padding: 0;
                        > li{
                            padding: 15px 20px;
                            border-top: solid 1px #e6e6e6;
                            a{
                                i{
                                    float: right;
                                    position: relative;
                                    top: 2px;
                                    text-align: center;
                                    &:before{
                                        content: "\f104";
                                    }
                                }
                            }

                            &.show {
                                > a {
                                    i {
                                        &:before {
                                            content: "\f107";
                                        }
                                    }
                                }
                            }
                            .dropdown-menu{
                                position: relative !important;
                                width: 100%;
                                float: none;
                                border: none;
                                margin: 10px 0 0 0;
                                padding: 0 0 0 15px;
                                transform: none !important;
                                li{
                                    a{
                                        font-size: 14px;
                                        &:before{
                                            content: "\f178";
                                            font: normal normal normal 14px/1 FontAwesome;
                                            padding-right: 5px;
                                            color: #383838;
                                        }
                                    }
                                }
                            }
                        }

                        .flag-icon-jp{
                            border: solid 1px #adadad;
                        }
                    }
                }
            }
            .g-menu{
                overflow-x: scroll;
                width: 100%;
                > ul{
                    padding: 10px 20px;
                    list-style: none;
                    > li{
                        a{
                            color: #1a2b48;
                            border-bottom: solid 1px #e6e6e6;
                            display: block;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            -ms-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                            text-decoration: none;
                            padding: 10px 0;
                            i{
                                float: right;
                                padding: 8px 15px 9px 15px;
                                margin-top: -5px;
                                margin-right: -10px;
                                &:before{
                                    content: "\f104";
                                }
                            }
                            &:hover{
                                border-bottom: solid 1px #1a2b48;
                            }
                        }
                        > .children-menu{
                            display: none;
                            list-style: none;
                            li{
                                a{
                                    padding-left: 15px;
                                }
                                > .children-menu{
                                    display: none;
                                    list-style: none;
                                    li{
                                        a{
                                            padding-left: 30px;
                                        }
                                    }
                                }
                            }
                        }
                        &.active{
                            > a{
                                border-bottom: dashed 1px #1a2b48;
                                > i{
                                    &:before{
                                        content: "\f107";
                                    }
                                }
                            }
                            > .children-menu{
                                display: block;
                                > li{
                                    &.active{
                                        > .children-menu{
                                            display: block;
                                        }
                                        > a{
                                            > i{
                                                &:before{
                                                    content: "\f107";
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .bravo_footer {
        .mailchimp {
            padding-top: 65px;
            padding-bottom: 40px;
            background: #F5F5F5;
            @media(max-width: 766px){
                padding-top: 45px;
                padding-bottom: 20px;
            }
            .media-left {
                padding-right: 30px;
                @media(max-width: 766px){
                    padding-right: 15px;
                }
                i{
                    font-size: 80px;
                    top: -10px;
                    position: relative;
                    @media(max-width: 766px){
                        top: -20px;
                    }
                }
            }

            .media-body {
                .media-heading {
                    font-size: 24px !important;
                    @media(max-width: 766px){
                        font-size: 18px !important;
                    }
                }

                p {
                    font-size: 16px !important;
                    color: #5E6D77 !important;
                    @media(max-width: 766px){
                        font-size: 14px !important;
                    }
                }
            }

            .subcribe-form {
                position: relative;
            }

            .subcribe-form .form-control {
                height: 55px;
                line-height: 53px;
                font-size: 14px;
                -webkit-box-shadow: none;
                box-shadow: none;
                border-color: #D7DCE3;
                @media(max-width: 766px){
                    height: 40px;
                    line-height: 40px;
                }
            }

            .subcribe-form .btn-submit {
                border: none;
                border-radius: 0 5px 5px 0;
                position: absolute;
                top: 0;
                right: 0;
                height: 55px;
                line-height: 55px;
                color: #FFF;
                background: #1a2b48;
                padding-left: 25px;
                padding-right: 25px;
                font-weight: 600;
                text-transform: uppercase;
                @media(max-width: 766px){
                    height: 40px;
                    line-height: 40px;
                }
                @media(max-width: 990px){
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }

        .main-footer {
            margin: 20px 0;

            .nav-footer {
                .title {
                    text-transform: uppercase;
                    font-weight: 500;
                    padding: 20px 0;
                    margin-bottom: 31px;
                    position: relative;
                    &:before {
                        position: absolute;
                        bottom: 0;
                        content: "";
                        width: 120px;
                        border-bottom: 1px solid #ebebeb;
                        left: 0;
                        @media(max-width: 768px){
                            width: 100%;
                        }
                    }
                    @media(max-width: 766px){
                        padding: 15px 0;
                        margin-bottom: 15px;
                    }
                }

                .context {
                    ul {
                        list-style: none;

                        li {
                            display: block;

                            a {
                                margin-bottom: 25px;
                                font-size: 14px;
                                font-weight: 400;
                                display: block;
                                color: #1A2B48;
                                text-decoration: none;
                                transition: all 0.3s;

                                &:hover {
                                    color: #5191FA;
                                }
                            }
                        }
                    }

                    .contact {
                        border-left-width: 3px;
                        padding-left: 20px;
                        border-left-color: #5191fa;
                        border-left-style: solid;
                        margin-bottom: 30px;

                        .c-title {
                            color: #5e6d77;
                            margin-bottom: 10px;
                        }

                        .sub {
                            font-weight: 500;
                            font-size: 18px;

                            a {
                                margin-right: 20px;
                                text-decoration: none;
                                i{
                                    color: #1a2b48;
                                }
                            }

                        }
                    }
                }
            }
        }

        .copy-right {
            border-top: 1px solid #EAEEF3;
            p{
                margin-bottom: 0;
            }
            .context {
                position: relative;
                .f-visa {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translate(0, -50%);
                    @media(max-width: 460px){
                        position: initial;
                        margin-top: 10px;
                        transform: translate(0);
                    }
                }
                padding: 40px 15px;
                @media(max-width: 766px){
                    padding: 20px 15px;
                }
            }
        }
    }
}

.bravo-pagination {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            font-size: 16px;
            color: #768090;
            float: left;
            margin-right: 10px;
            a, span {
                display: block;
                height: 32px;
                width: 32px;
                line-height: 32px;
                text-decoration: none;
                color: #5E6D77;
                float: none;
                padding: 0;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                &.current {
                    border: 1px solid #5191FA !important;
                    border-radius: 3px;
                    background: transparent !important;
                    color: #5191FA !important;
                }
            }
            &.active {
                a, span {
                    border: 1px solid #5191FA !important;
                    background: transparent !important;
                    color: #5191FA !important;
                }
            }
        }
    }
    .count-string {
        font-size: 14px;
        color: #768090;
        margin-top: 5px;
        display: block;
    }
}
.bravo-effect-bg,.bravo-effect-user-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 19;
    left: 0;
    top: 0;
    opacity: 0.5;
}

