.has-search-map{
    height: 100%;
    .bravo_wrap{
        display: flex;
        height: 100%;
        flex-direction: column;
        .bravo_header{
            background: white;
            .content {
                background: transparent;
            }
            .header-left {
                width: 80%;
            }
            .header-right {
                width: 20%;
            }

        }
        .bravo_search_tour{
            flex-grow: 1;
            display: flex;
            overflow-y: auto;
            flex-direction: column;

            .bravo_form_search_map{
                border-top: solid 1px #e0e0e0;
                flex-shrink: 0;
                padding: 12px;
                .filter-item{
                    padding:0px 8px;
                    flex-grow: 1;
                    @media(max-width: 990px){
                        border-bottom: 1px solid #e0e0e0;
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                    .dropdown-menu{
                        margin-top: -1px;
                        box-shadow: 1px 1px 4px rgba(0,0,0,.2);
                        background-color: #fff;
                        border: 1px solid #ccc;
                        padding: 20px;
                        min-width: 250px;
                        border-radius: 0px;
                    }
                }
                .bravo_form {
                    background: #FFFFFF;
                    box-shadow: none;
                    @media( max-width: 990px) {
                        display: block !important;
                        border: solid 1px #ccc;
                        border-bottom: none;
                    }
                    .form-group {
                        margin-bottom: 0;
                        border: 1px solid #e0e0e0;
                        height: 42px;
                        position: relative;
                        @media( max-width: 990px) {
                            border: none;
                        }
                    }
                    .border-right {
                        border-right: 1px solid #D7DCE3;
                    }
                    .field-detination {
                        position: relative;
                        padding: 8px;
                        transition: all 0.3s;
                        #dropdown-destination {
                            padding-left: 40px;
                            .form-control {
                                border: none;
                                box-shadow: none;
                                padding: 0;
                                font-size: 14px;
                                color: #4b4b4b;
                                position: relative;
                                left: -5px;
                                height: 25px !important;
                                option {
                                    color: #000;
                                }
                            }
                        }
                    }
                    label {
                        font-size: 14px;
                        color: #5E6D77;
                        font-weight: 400;
                        margin-bottom: 0px;
                    }
                    .render {
                        font-size: 14px;
                        color: #4b4b4b;
                    }
                    .field-icon {
                        position: absolute;
                        top: 50%;
                        margin-top: -12px;
                        font-size: 23px;
                        color: #5e6d77;
                        left: 8px;
                    }

                    .form-date-search, .form-guest-search {
                        padding: 10px 15px 8px;
                        position: relative;
                        transition: all 0.3s;
                        .date-wrapper {
                            padding-left: 15px;
                        }
                        .field-icon {
                            //left: 13px;
                        }

                        .start_date {
                            position: absolute;
                        }
                        .check-in-wrapper, .guest-wrapper {
                            padding-left: 16px;
                            .check-in-render, .check-out-render {
                                display: inline-block;
                                width: auto;
                            }
                            span {
                                color: #5E6D77;
                                position: relative;
                                padding:0px 5px;
                            }
                            label {
                                display: block;
                            }
                        }
                        .check-in-out {
                            position: absolute;
                            left: -15px;
                            bottom: 1px;
                            z-index: -1;
                            opacity: 0;
                        }
                    }
                    .filter-simple{
                        @media(max-width: 990px){
                            display: none;
                        }
                        .form-group{
                            .filter-title{
                                padding: 10px 15px;
                                justify-content: space-between;
                                align-items: center;
                                display: flex;
                            }
                        }
                    }
                    .g-button-submit {
                        position: relative;
                        min-height: 66px;
                        margin: 0 -1px 0 -15px;
                        button {
                            position: absolute;
                            left: 0;
                            top: 0;
                            display: block;
                            height: 100%;
                            width: 100%;
                            margin-right: -15px;
                            border-radius: 0;
                            background: #5191FA;
                            border: none;
                            text-transform: uppercase;
                            font-weight: 500;
                            cursor: pointer;
                        }
                    }

                    .form-content{
                        padding: 8px 8px 8px 40px;
                        .smart-search {
                            position: initial;
                            .parent_text {
                                font-size: 14px;
                                color: #4b4b4b;
                                &::-webkit-input-placeholder{
                                    color: #4b4b4b;
                                }
                                &::-moz-placeholder{
                                    color: #4b4b4b;
                                }
                                &:-ms-input-placeholder{
                                    color: #4b4b4b;
                                }
                                &:-moz-placeholder{
                                    color: #4b4b4b;
                                }
                                &::placeholder {
                                    color: #4b4b4b
                                }
                            }
                            &:after {
                                color: #4b4b4b;
                                top: 18px;
                            }
                        }
                        .bravo-autocomplete{
                            margin-top: -1px;
                            right: -1px;
                            left: -1px;
                        }
                    }
                }
            }
        }
    }
    .bravo_search_map{
        display: flex;
        flex-grow: 1;
        min-height: 0px;
        background: #f5f5f5;
        border-top: solid 1px #e0e0e0;
        @media( max-width: 990px) {
            display:block;
        }
        .results_map{
            flex-shrink: 0;
            width: 40%;
            left: 0;
            border-right: solid 1px #e0e0e0;
            position: relative;
            @media( max-width: 990px) {
                width: 100%;
                height: 300px;
            }
            .map_loading{
                display: none;
            }

            .results_map_inner{
                height: 100%;
                z-index: 1;
            }
            @import "loop";
        }
        .results_item{
            flex-grow: 1;
            //padding: 20px 0px;
            position: relative;
            #advance_filters{
                position: absolute;
                top:0px;
                left:0px;
                right:0px;
                bottom:0px;
                display: flex;
                z-index: 9;
                flex-direction: column;
                background: white;
                .ad-filter-b{
                    flex-grow: 1;
                    min-height: 0px;
                    overflow-y: auto;
                    padding:30px;
                    .filter-item{
                        border-bottom: 1px solid #dbdbdb;
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                        &:last-child{
                            border-bottom: 0px;
                        }
                    }
                    .filter-title{
                        margin-bottom: 10px;
                        font-size: 15px;
                    }
                    .filter-items{
                        // display: flex;
                        padding: 0px;
                        // margin: 0px;
                        // justify-content: space-between;
                        list-style: none;
                        .filter-term-item{
                            // width: 33%;
                            label{
                                margin-bottom: 8px;;
                            }
                        }
                    }
                }
                .ad-filter-f{
                    border-top: 1px solid #ececec;
                    background-color: #fafafa;
                    flex-shrink: 0;
                    padding:10px 15px;
                }
            }
            .text-paginate{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 15px 0 0;
                color: #818181;
            }
            .listing_items{
                height: 100%;
                overflow-y: auto;
                .bravo-list-item{
                    height: 100%;
                    padding: 0 30px;
                    @media(max-width: 766px){
                        padding: 0 15px;
                    }
                    &.not-found{
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        display: flex;
                    }
                    .list-item{
                        .row{
                            .col-md-6{
                                @media(max-width: 1280px){
                                    -ms-flex: 0 0 50%;
                                    flex: 0 0 50%;
                                    max-width: 50%;
                                }
                                @media(max-width: 766px){
                                    -ms-flex: 0 0 100%;
                                    flex: 0 0 100%;
                                    max-width: 100%;
                                }
                            }
                        }
                        .item-tour{
                            background: white;
                            .thumb-image {
                                max-height: 170px;
                                @media(max-width: 766px){
                                    max-height: 180px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .bravo-filter-price {
        .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
            font-size: 11px;
            background-color: #5191FA;
        }
        .irs--flat .irs-bar {
            top: 25px;
            height: 12px;
            background-color: #5191FA;
        }
        .irs--flat .irs-handle > i:first-child {
            background-color: #5191FA;
        }
        .irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
            border-top-color: #5191FA;
        }
    }
}



