
html, body {
  overflow-x:hidden;
}

body {
	margin:0;
	padding:0;
	font-family: 'Ubuntu', sans-serif;
}

.btn:focus {
    outline: 0;
    box-shadow:none !important;
}

a {
   transition: 0.3s;
}


.theme-gradient {
background: #e6007e; /* Old browsers */
background: -moz-linear-gradient(45deg, #e6007e 0%, #00b6ed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #e6007e 0%,#00b6ed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #e6007e 0%,#00b6ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6007e', endColorstr='#00b6ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.hero-section{  
background: #e6007e; /* Old browsers */
background: -moz-linear-gradient(45deg, #e6007e 0%, #00b6ed 100%); 
background: -webkit-linear-gradient(45deg, #e6007e 0%,#00b6ed 100%);
background: linear-gradient(45deg, #e6007e 0%,#00b6ed 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6007e', endColorstr='#00b6ed',GradientType=1 );
min-height: 368px;

}

.innder-header {
  min-height:120px;
}

.logo {
  margin-top:20px;
}

.join {
  text-align:right;
} 

.btn-join {
    background: #fffdfd;
    display: inline-block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    text-decoration:none;
    transition: 0.3s;
}

.btn-join:hover {    
    text-decoration:none;
    background:#E6007E;
    color:#fff;
}

.blue-text {
	color:#00a9ea;
}

.pink-text{
 color: #d8006b;
}

.bg-pink{
	background:#E6007E;
}

.login-menu {
	list-style:none;
	margin-top:10px;
}

.login-menu li{
	display:inline-block;	
}

.login-menu li a{
	color:#fff;
	padding:0 20px;	
}
.login-menu .login-item li a{
	color:#ad2e9a;
	/* padding:0 20px;	 */
}
.login-menu li a:hover{
	color:#E6007E;	
}

.login-menu li:last-child a{
    border-left: 1px solid #fff;
    padding-right:0;
}


.main-slider .carousel-item {
 /* min-height: 565px;*/
}


.main-slider .carousel-indicators {
    position: relative;
    top: 204px;
}

.main-slider .carousel-caption {
  position:unset;
}

.main-slider .carousel-indicators li{
    background-clip: unset;
    border:1px solid #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 25px;
    background:unset;
}

.main-slider .carousel-indicators .active {
    opacity: 1;
    background: #fff !important;
}

.main-slider ol .line  {
  width:200px;
  background:#fff;
}

.main-slider ol li {
  position:relative;
}

.main-slider ol li:nth-of-type(2):before{
    content: '';
    position: absolute;
    width: 35px;
    background: #fff;
    top: 50%;
    left: -43px;
    height: 1px;
}

.main-slider ol li:nth-of-type(3):before{
    content: '';
    position: absolute;
    width: 35px;
    background: #fff;
    top: 50%;
    left: -43px;
    height: 1px;
}



.coach{
  width:43%;
  margin:auto;
}
.coach h1{
  color:#fff;
  margin-bottom:123px;
}

.progress-dot {
  margin-top:30px;
}

.postcode {
    width: 82%;
    margin: auto;
}

.postcode .input-group {
    margin-top: 35px;
}

.postcode .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:46px;
    padding-left: 20px;
    padding-right: 20px;
}

.postcode .input-group>.input-group-append>.btn {
   background:#00a9ea;
   color:#fff;
   border:unset;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   width: 100px;
   font-weight:400;
   font-size: 18px;
}

.postcode .input-group>.input-group-append>.btn:hover {
   background:#E6007E;   
}

.postcode .btn-outline-secondary.focus {
  box-shadow:unset;
}

.postcode span{
  display:block;
  text-align:left;
  color:#fff;
  margin-top:-10px;
  margin-left:20px;
  font-size:12px;
}

.take-seat {
	margin-top:50px;
}

.find-btn {
	margin-top:80px;
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.find-btn a {
    text-align: center;
    background: #fff;
    width: 80px;
    height:80px;
    border-radius: 50%;
    float: left;
   
}

.find-btn a:hover{
    background:#00a9ea;
}

.find-btn span {	
	text-align:center;
	font-size:18px;
	margin-top:10px;
}

.find-btn a .fa-angle-down {
    font-size: 63px;
    line-height: 80px;
    color:#00a9ea;
}

.find-btn a:hover .fa-angle-down {
    color:#fff;
}

.find-btn p {
	color:#fff;
	margin-top:10px;
}

.welcome {
  width:100%;
  max-width:100%;
  float:left;
  padding:60px 0;

}

.welcome .container-fluid{
  padding-right:0px;
  padding-left:0px;
}

.welcome-text {
  text-align:center;
  width:60%;
  margin:auto;
}

.welcome-text h3 {
  color:#00B6ED;
  margin-bottom:30px;
}

.welcome-text p{
  font-size:14px;
}

.divider {
  width:100%;
  max-width:100%;
  text-align:center;
}

.therapist {
    padding: 118px 60px;
    margin-right: -15px;
}


.therapist-photo {
    margin-left:-15px;
}

.therapist-photo-alt {
    margin-right:-15px;
}

.therapist-alt {
    padding: 118px 60px;
    margin-left:-15px;
}

.therapist-photo img {

}

.therapist-slide .carousel-item {
  min-height:171px;
}

.therapist-slide .carousel-caption {   
    top: 35%;
}

.therapist-slide .carousel-indicators{
  bottom:-20%;
}

 .therapist-slide .carousel-indicators li {  
    width: 10px;
    height: 10px;   
    background-clip:unset;
    border-top:unset; 
    border-bottom:unset;  
    border-radius: 50%;
    border:1px solid #fff;
    opacity:unset;
    background:unset;

  }

.therapist-slide .carousel-indicators .active {
    opacity:unset;
    background:#fff;
}

.carousel-fade .carousel-item {
  transition-delay:.5s;
}

.theme-gradient-1:hover {
background: rgb(230,0,126); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(230,0,126,0.4) 0%, rgba(0,182,237,0.4) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(230,0,126,0.4) 0%,rgba(0,182,237,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(230,0,126,0.4) 0%,rgba(0,182,237,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6007e', endColorstr='#00b6ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}

.theme-gradient-1:hover h3{
 color:#E6007E !important;
}

.logo-icon {
  background:url(../images/LogoIcon_White.png);
  background-repeat:no-repeat;
  width:59px;
  height:42px;
  margin:auto;
}

.theme-gradient-1:hover .logo-icon{
  background:url(../images/LogoIcon_Colour.png);
  background-repeat:no-repeat;
  width:59px;
  height:42px;
  margin:auto;
}

.start-search {
  text-align:center;
  margin-top:50px;
}

.start-search .btn-primary {
  background:#00a9ea;
  font-weight:500;
  border-style:unset;
  padding:10px 22px;
  border-radius:8px;
}

.start-search .btn-primary:hover, .start-search .btn-primary:focus {
  background:#00B6ED !important;  
}

.resource-center{
  background:#e9e9eb;
  width:100%;
  float:left;
  clear:both;
  padding:40px 0 60px 0;
}

.resource-center {
  text-align:center;
}

.resource-center h3{
  color:#00B6ED;
  margin-top:30px;
  margin-bottom:40px;
}

.resource-center .card img{
  border-top-left-radius:10px;
}

.resource-center .card {
   border-radius:10px;

}

.resource-center .card-text {
  background:#00B6ED;
  padding:15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align:left;
  transition: 0.3s;
  min-height: 216px;
}

.resource-center .card-text:hover {
  background:#8cc63f;
  padding:15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align:left;
}

.read-more {
  color:#fff;
}

.read-more:hover{
  color:#fff;
  text-decoration:none;
}

.viewall .btn-primary {
    background: #fff;
    border: unset;
    color: #00B6ED;
    margin-top: 40px;
    padding: 10px 60px;
    border-radius:10px;
    font-weight:500;
}

.viewall .btn-primary:hover, .viewall .btn-primary:hover {
    background:#00B6ED !important;
    color: #fff !important;    
}

.social-section {
  padding:50px 0;
  float:left;
  width:100%;
}

.social-section a {
  padding:0 10px;
}

.footer{
  float:left;
  width:100%;
  padding:40px 0;
}

.footer-info {
  list-style:none;
  margin:30px 0 0 0;
  padding:0;
}

.footer-info li {
  color:#fff;
  line-height:30px;
}

.support-link ul {
  list-style:none;
  margin:10px 0 0 0;
  padding:0;
}

.support-link ul li a {
  color:#fff;
  line-height:30px;
}

.support-link ul li a:hover {
  text-decoration:none;  
}

.copyright {
    margin-top: 100px;
    font-size: 13px;
}

.join-pro {
  border-top: 1px solid #939bd8;
  padding-top:15px;
  margin-top:25px;
}

.join-pro p {
  color:#fff;
  font-size:18px;
  text-transform:uppercase;
  margin-left:10px;
  font-weight:500;
}

.join-pro img {
  width:24px;
  height:28px;
}

.resource-center .card {  
    margin-bottom: 20px;
}

.about-para {
  text-align: center;
  width: 60%;
  margin: auto;
}

.mission .container-fluid{
  padding-right:0px;
  padding-left:0px;
}

.about-para p {
  font-size:14px;
} 



.therapist-about {
    padding: 75px 60px !important;  
}

.therapy-cat select{
    width: 15%;
    margin: auto;
    color: #fff;
    background: #00a9ea;
    border: unset;
}

.therapy-cat h2 {
  color:#00B6ED;
}

.tag {
    margin-top: 75px;   
}

.tag ul {
  list-style:none;
  margin:0;
  padding:0; 
  width:80%;
  margin:auto;
}

.tag ul li{
   display:inline-block;   
}
.tag ul li a{
   display:inline-block;
   padding:7px 15px;
   border-radius:25px;
   color:#fff; 
   border:1px solid #fff;
   font-size:12px;
   margin:5px 5px;
   text-transform:uppercase;
   font-weight:normal;
   text-decoration:none;
}

.tag ul li a:hover{
 background:#fff;
 color:#E6007E;
}

.start-search .find-therapist:hover {
  background-color:#8cc63f !important;
}

.therapist-photo-alt img {
    width: 100%;
    max-width: 100%;
}

.how-work {
    padding:60px 0;
}


.listing-box .carousel-item a img {
    width: 100%;
}




