body {
    .select2-container {
        z-index: 9999;
    }

    .bravo_wrap {
        .bravo-list-locations {
            .owl-nav {
                .owl-prev, .owl-next {
                    font-size: 40px;
                    line-height: 33px;
                    border: solid 1px #000;
                    padding: 0px 10px !important;
                    margin-left: 10px;

                    span {
                        position: relative;
                        top: -1px;
                        outline: none !important;
                    }
                }
            }
        }

        //Page search tour
        .bravo_search_tour {
            .bravo_banner {
                background-color: #fff;

                h1 {
                    color: #000a34;
                    font-size: 38px;
                }
                .sub_title{
                    margin-top: 15px;
                    color: #2c2e36;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .bravo-list-item {
                .topbar-search {
                    .text {
                        font-size: 24px;
                        color: #1A2B48;
                        font-weight: normal;
                        margin: 0;
                    }
                }

                .list-item {
                    margin-top: 15px;

                    .item-tour {
                        border: 1px solid #dfdfdf;
                        border-radius: 3px;
                        overflow: inherit;
                        padding-bottom: 15px;
                        position: relative;
                        margin-bottom: 30px;

                        a {
                            text-decoration: none;
                            transition: all 0.3s;
                        }

                        .sale_info {
                            position: absolute;
                            width: 80px;
                            height: 48px;
                            transform: rotate(45deg);
                            right: -30px;
                            top: -13px;
                            line-height: 65px;
                            text-align: center;
                            color: #fff;
                            font-size: 15px;
                            z-index: 8;
                            background-color: #cc0033;
                        }

                        .featured {
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            font-size: 13px;
                            color: #FFFFFF;
                            font-weight: 500;
                            z-index: 8;
                            background: #1a2b48;
                            border-radius: 0 3px 3px 0;
                            padding: 6px 10px;
                        }

                        .thumb-image {
                            overflow: hidden;
                            height: 170px;
                            background: #ccc;
                            border-radius: 50%;

                            a {
                                img {
                                    transition: all 0.3s;
                                    max-width: 100%;
                                }

                                &:hover img {
                                    transform: scale(1.1);
                                }
                            }

                            .service-wishlist {
                                position: absolute;
                                right: calc(50% - 18px);
                                z-index: 10;
                                bottom: 0px;
                                color: #fff;
                                padding: 10px;
                                cursor: pointer;

                                i {
                                    transition: all 0.3s;
                                    font-size: 16px;
                                }

                                &:hover, &.loading {
                                    i {
                                        color: #ff9290;
                                    }
                                }

                                &.active {
                                    i {
                                        color: #ff0000;
                                    }
                                }
                            }
                        }

                        .thumb-image-flex {
                            overflow: hidden;
                            background: #ccc;
                            border-radius: 50%;
                            width: 100%;
                            //display: flex;
                            //justify-content: center;
                            position: relative;
                            height: 100%;

                            max-width: 170px;
                            max-height: 170px;
                            min-height: 170px;
                            margin: auto;

                            .thumb-img-bg {
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center center;
                                width: 100%;
                                height: 100%;
                            }

                            //margin-bottom: 30px;
                            img {
                                height: 100%;
                                width: auto;
                                max-width: none;
                            }

                            .service-wishlist {
                                position: absolute;
                                right: calc(50% - 18px);
                                z-index: 10;
                                bottom: 0px;
                                color: #fff;
                                padding: 10px;
                                cursor: pointer;

                                i {
                                    transition: all 0.3s;
                                    font-size: 16px;
                                }

                                &:hover, &.loading {
                                    i {
                                        color: #ff9290;
                                    }
                                }

                                &.active {
                                    i {
                                        color: #ff0000;
                                    }
                                }
                            }

                        }

                        .location {
                            font-size: 13px;
                            color: #5E6D77;
                            padding: 15px 15px 10px;

                            i {
                                position: relative;
                                font-size: 16px;
                            }
                        }

                        .category {
                            padding: 0 15px;

                            .fa {
                                color: #687882;
                                opacity: 0.6;
                            }
                        }

                        .service-review {
                            padding: 10px 0 0;

                            .list-star {
                                display: inline-block;
                                line-height: 13px;
                                position: relative;

                                .booking-item-rating-stars {
                                    padding: 0;
                                    margin: 0;
                                    width: 90px;

                                    &:before, &:after {
                                        content: "";
                                        display: table;
                                        clear: both;
                                    }

                                    li {
                                        list-style: none;
                                        float: left;
                                        margin-right: 5px;

                                        &:last-child {
                                            margin-right: 0;
                                        }

                                        .fa {
                                            font-size: 15px;
                                            color: #FFDC00;
                                        }
                                    }
                                }

                                .booking-item-rating-stars-active {
                                    position: absolute;
                                    width: 0;
                                    top: 0;
                                    left: 0;
                                    overflow: hidden;
                                }
                            }

                            .review {
                                position: relative;
                                top: -2px;
                                font-size: 13px;
                                color: #768092;
                                margin-left: 10px;
                            }
                        }

                        .service-attr {
                            padding: 10px 0px;

                            a {
                                color: #9a98a6;
                                margin-right: 30px;
                                display: inline-block;
                                margin-bottom: 5px;

                                i {
                                    border-radius: 50%;
                                    background-color: #54a79f;
                                    color: #ffffff;
                                }
                            }
                        }

                        .item-title {
                            padding: 0px;
                            font-size: 1.3rem;
                            line-height: 22px;
                            font-weight: 600;
                            min-height: auto;
                            margin-top: 10px;
                            @media(max-width: 766px) {
                                min-height: auto;
                            }

                            a {
                                font-size: 1.3rem;
                                color: #1A2B50;
                            }
                        }

                        .item-location {
                            padding: 5px 0 0;
                            font-size: 1.1rem;
                        }
                        .service-review{
                            padding: 5px 0 0;
                        }

                        .book-now {
                            .btn-info-booking {
                                width: 100%;
                                color: #fff;
                                background: #f6768f;
                                text-transform: uppercase;
                                font-size: 16px;
                            }
                        }

                        .info {
                            padding: auto;

                            &:before, &:after {
                                content: "";
                                display: table;
                                clear: both;
                            }

                            .duration {
                                width: 100% !important;
                                float: none;
                                text-align: right;
                                align-items: center;
                                color: #5E6D77;
                                position: relative;
                                top: 5px;
                                font-size: 18px;

                                i {
                                    position: relative;
                                    font-size: 17px;
                                }
                            }

                            .g-price {
                                width: 100% !important;
                                float: none;
                                text-align: right;

                                .prefix {
                                    color: #5E6D77;
                                    display: inline-block;

                                    i {
                                        font-size: 16px;
                                        color: #ffc107;
                                    }
                                }

                                .price {
                                    position: relative;
                                    display: inline-block;

                                    .text-price {
                                        font-size: 18px;
                                        color: #1A2B48;
                                        font-weight: 500;
                                    }

                                    .onsale {
                                        position: absolute;
                                        right: 0;
                                        top: -15px;
                                        text-decoration: line-through;
                                        font-size: 14px;
                                        color: #cc0033 !important;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }

                        &.is_featured {
                            border-color: #000000;
                        }

                        &.infobox-item {
                            position: relative;

                            &:after {
                                content: '';
                                width: 0;
                                height: 0;
                                border-style: solid;
                                position: absolute;
                                border-width: 10px;
                                border-color: transparent #fff #fff transparent;
                                bottom: -9px;
                                left: 0;
                                right: 0;
                                margin: auto;
                                -webkit-transform: rotate(45deg);
                                transform: rotate(45deg);
                                -webkit-box-shadow: 1px 1px 0px #dfdfdf;
                                box-shadow: 1px 1px 0px #dfdfdf;
                                background: #fff;
                            }
                        }
                    }
                }

            }

            .bravo_filter {
                .filter-title {
                    &:before {
                        background-color: #f6758f;
                    }
                }
            }

            .bravo_form_search {
                .row {
                    justify-content: center;
                }
            }
        }

        .bravo-checkbox {
            margin-bottom: 15px;

            input {
                margin-right: 5px;
            }

            label {
                position: relative;
                cursor: pointer;
                transition: all 0.3s;
                padding-left: 25px;
                font-size: 14px;
                color: #5E6D77;
                font-weight: normal;
                margin-bottom: 0px;
            }

            input[type=checkbox] {
                display: none;
            }

            .checkmark {
                display: inline-block;
                height: 17px;
                left: 0;
                position: absolute;
                top: 0;
                width: 17px;
                border: solid 1px #A0A9B2;
                border-radius: 2px;
                background: #fff;
            }

            input[type=checkbox] + .checkmark {
                background-repeat: no-repeat !important;
                background-position: center;
            }

            input[type=checkbox]:checked + .checkmark {
                background-repeat: no-repeat !important;
                background-position: center;
            }

            input[type=checkbox] + .checkmark {

            }

            input[type=checkbox]:checked + .checkmark {
                &:after {
                    content: "";
                    position: absolute;
                    background-color: transparent;
                    border-radius: 0;
                    left: 5px;
                    top: 2px;
                    width: 5px;
                    height: 8px;
                    border: solid #5191FA;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }

        //Page Detail Tour
        .bravo_detail_tour {
            .bravo_banner {
                background-color: #fff !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                position: relative;
                min-height: 115px;

                .bravo_banner_map {
                    #map_content {
                        height: 450px;
                        @media(max-width: 766px) {
                            height: 250px;
                        }
                    }
                }

                .container {
                    position: relative;
                }

                .bravo_gallery {
                    height: 500px;
                    position: relative;
                    @media(max-width: 1024px) {
                        height: 300px;
                    }
                    @media(max-width: 766px) {
                        height: 200px;
                    }

                    .modal {
                        .modal-dialog {
                            position: relative;
                            top: 50%;
                            width: 100%;
                            transform: translate(0, -50%);
                            margin: -10px auto 0;
                        }

                        .modal-content {
                            padding: 0;
                            background: transparent;
                            border: none;
                        }
                    }
                }

                h1 {
                    font-size: 36px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    text-align: left;
                    margin: 0;
                }

                .btn-group {
                    position: absolute;
                    bottom: 30px;
                    right: 0;

                    .btn {
                        margin-left: 10px;
                        background: rgba(26, 43, 72, 0.5);
                        font-size: 14px;
                        color: #FFF;
                        padding: 10px 15px;

                        &:hover {
                            background: rgba(26, 43, 72, 1);
                        }

                        .fa {
                            margin-right: 10px;
                        }
                    }

                    .has-icon {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                    }
                }
            }

            .bravo_content {
                padding-top: 20px;

                .g-header {
                    margin-bottom: 10px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: end;
                    -ms-flex-align: end;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    border-bottom: 1px solid #D7DCE3;

                    h2 {
                        margin-top: 0;
                        color: #1A2B48;
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 1.3;
                        @media(max-width: 990px) {
                            font-size: 24px;
                        }
                        @media(max-width: 766px) {
                            font-size: 18px;
                        }
                    }

                    .thumb-image-detail {
                        overflow: hidden;
                        height: 230px;
                        background: #ccc;
                        border-radius: 50%;
                        border: 1px solid #d9dee4;
                        margin-top: -115px;
                        width: 230px;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 30px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        
                        @media (max-width: 1023px) {
                            height: 150px;
                            width: 150px;
                        }

                        img {
                            height: 100%;
                            width: auto;
                            max-width: none;
                        }
                    }

                    .address {
                        @media(max-width: 766px) {
                            margin-bottom: 5px;
                        }
                    }

                    .left {
                        @media(max-width: 766px) {
                            flex: 0 0 100%;
                        }
                    }

                    .right {
                        min-width: 230px;
                        @media(max-width: 766px) {
                            display: none;
                        }
                    }

                    .sub-heading {
                        color: #5E6D77;
                        font-size: 14px;

                        .fa {
                            position: relative;
                            top: 2px;
                        }
                    }

                    .review-score {
                        .head {
                            display: flex;
                            align-items: center;
                            position: relative;
                            font-size: 22px;
                            color: #1a2b48;
                            font-weight: 400;
                            line-height: 25px;
                            justify-content: flex-end;

                            .left {
                                text-align: right;

                                .head-rating {
                                    display: block;
                                    line-height: 13px;
                                    margin-top: 8px;
                                }

                                .text-rating {
                                    color: #1a2b48;
                                    font-size: 14px;
                                }
                            }

                            .score {
                                position: relative;
                                float: right;
                                margin-left: 20px;
                                padding: 10px 10px 0px 10px;
                                background: #5191fa;
                                border-radius: 4px;
                                color: #fff;
                                font-size: 30px;
                                font-weight: 400;
                                min-height: 45px;

                                span {
                                    font-size: 14px;
                                    color: #FFF;
                                }

                                &::after {
                                    position: absolute;
                                    content: '';
                                    width: 0;
                                    height: 0;
                                    bottom: 0;
                                    left: -8px;
                                    border: 15px solid transparent;
                                    border-bottom: 25px solid #5191FA;
                                }
                            }
                        }

                        .review-star {
                            padding: 0;
                            margin: 0;
                            overflow: hidden;

                            li {
                                list-style: none;
                                margin-left: 5px;
                                float: right;

                                .fa {
                                    color: #FFDC00;
                                    font-size: 16px;
                                }
                            }
                        }

                        .foot {
                            color: #5E6D77;
                            font-size: 14px;
                            text-align: right;
                        }
                    }
                }

                .g-tour-feature {
                    padding-top: 25px;
                    padding-bottom: 15px;
                    border-top: 1px solid #D7DCE3;
                    border-bottom: 1px solid #D7DCE3;
                    margin-bottom: 30px;
                    @media(max-width: 766px) {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        margin-bottom: 15px;
                    }

                    .item {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        margin-bottom: 10px;
                        @media(max-width: 766px) {
                            margin-bottom: 0;
                        }

                        .icon {
                            margin-right: 20px;
                            font-size: 45px;
                            color: #1a2b48;
                            @media(max-width: 766px) {
                                line-height: 55px;
                                font-size: 40px;
                            }
                        }

                        .info .name {
                            font-size: 14px;
                            color: #1A2B48;
                            margin: 0;
                            margin-bottom: 3px;
                        }

                        .info .value {
                            font-size: 14px;
                            color: #5E6D77;
                            margin: 0;
                        }
                    }
                }

                .g-overview {
                    margin-bottom: 30px;

                    .description {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        font-size: 14px;
                        color: #5E6D77;
                        font-weight: 400;
                        position: relative;
                        @media(max-width: 766px) {
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }

                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }

                    h3 {
                        @media(max-width: 990px) {
                            font-size: 1.5rem;
                        }

                        @media(max-width: 766px) {
                            font-size: 1.3rem;
                        }
                    }

                    h4, strong {
                        font-size: 14px;
                        color: #5E6D77;
                        font-weight: 500;
                        margin-bottom: 30px;
                    }

                    ul {
                        padding-left: 25px;

                        li {
                            font-size: 14px;
                            color: #5E6D77;
                            margin-bottom: 20px;
                            list-style: none;

                            &:before {
                                content: '';
                                border: 1px solid #5191FA;
                                width: 8px;
                                height: 8px;
                                display: inline-block;
                                border-radius: 50%;
                                margin-right: 20px;
                            }
                        }
                    }
                }

                .g-attributes {
                    margin-bottom: 15px;

                    .list-attributes {
                        display: flex;
                        flex-wrap: wrap;

                        .item {
                            flex: 0 0 25%;
                            max-width: 25%;
                            margin-bottom: 10px;

                            i {
                                font-size: 16px;
                                position: relative;
                            }

                            @media(max-width: 768px) {
                                flex: 0 0 50%;
                                max-width: 50%;
                            }
                            @media(max-width: 420px) {
                                flex: 0 0 100%;
                                max-width: 100%;
                            }
                        }
                    }
                }

                .g-location {
                    margin-bottom: 30px;

                    h3 {
                        margin-bottom: 20px;
                        @media(max-width: 990px) {
                            font-size: 1.5rem;
                        }
                        @media(max-width: 766px) {
                            font-size: 1.3rem;
                        }
                    }

                    iframe {
                        width: 100%;
                    }

                    #map_content {
                        height: 450px;
                    }
                }

                .g-term {
                    margin-bottom: 40px;
                    padding-top: 35px;
                    padding-bottom: 35px;
                    border-top: 1px solid #D7DCE3;
                    border-bottom: 1px solid #D7DCE3;
                    .owl-nav,.owl-dots{
                        display: none;
                    }
                    .owl-stage{
                        display: flex;
                        align-items: center;
                    }
                    h3 {
                        margin-bottom: 20px;
                        @media(max-width: 990px) {
                            font-size: 1.5rem;
                        }
                        @media(max-width: 766px) {
                            font-size: 1.3rem;
                        }
                    }
                }

                .g-gallery {
                    margin: 10px 0;
                    position: relative;
                    min-height: 75px;

                    .fotorama {
                        .fotorama__arr.fotorama__arr--prev {
                            left: 30px;

                            &:after {
                                content: '';
                                background: url(../../images/ico_pre.svg);
                            }
                        }

                        .fotorama__arr.fotorama__arr--next {
                            right: 30px;

                            &:after {
                                content: '';
                                background: url(../../images/ico_next.svg);
                            }
                        }

                        .fotorama__arr {
                            border-radius: 3px;
                            width: 40px;
                            height: 40px;
                            background: none;
                            background-color: rgba(26, 43, 72, 0.6);

                            &:after {
                                position: absolute;
                                left: 50%;
                                margin-left: -13px;
                                top: 7px;
                                width: 24px;
                                height: 24px;
                            }
                        }

                        .fotorama__fullscreen-icon {
                            width: 40px;
                            height: 40px;
                            top: auto;
                            bottom: 30px;
                            right: 30px;
                            background: none;

                            &:before {
                                content: '';
                                position: absolute;
                                width: 24px;
                                height: 24px;
                                background: url(../../images/ico_full_3.svg);
                                left: 50%;
                                margin-left: -11px;
                                top: 7px;
                                z-index: 1;
                            }

                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(26, 43, 72, 0.5);
                                border-radius: 3px;
                            }
                        }
                    }

                    .social {
                        position: absolute;
                        right: 30px;
                        top: 30px;

                        .service-wishlist {
                            cursor: pointer;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background: rgba(26, 43, 72, 0.6);
                            color: #fff;
                            font-size: 19px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-top: 2px;

                            &.active {
                                .fa {
                                    &:before {
                                        content: "\f004";
                                    }
                                }
                            }
                        }
                    }
                }

                .g-faq {
                    border-bottom: solid 1px #D7DCE3;
                    margin-bottom: 25px;
                    border-top: none;
                    padding-top: 25px;

                    .item {
                        border-bottom: 1px solid #D7DCE3;
                        margin-bottom: 10px;

                        &:last-child {
                            border: none;
                        }

                        .header {
                            margin-bottom: 10px;
                            overflow: hidden;
                            padding-top: 15px;
                            cursor: pointer;

                            .field-icon {
                                float: left;
                                font-size: 25px;
                                margin-right: 10px;
                                top: -3px;
                                position: relative;
                            }

                            h5 {
                                float: left;
                                margin-top: 0px;
                                margin-bottom: 0px;
                                font-size: 16px;
                                color: #1A2B48;
                            }

                            .arrow {
                                float: right;
                                font-size: 20px;
                                position: relative;
                                top: -8px;
                            }
                        }

                        .body {
                            font-size: 14px;
                            color: #5E6D77;
                            -webkit-transition: all 0.3s;
                            transition: all 0.3s;
                            height: 0px;
                            overflow: hidden;
                            padding-bottom: 0px;
                        }

                        &.active {
                            .header .arrow {
                                -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                            }

                            .body {
                                height: auto;
                                padding-bottom: 20px;
                            }
                        }
                    }
                }

                .g-highlights {
                    ul {
                        list-style: none;

                        li {
                            position: relative;
                            padding-left: 50px;
                            margin-bottom: 25px;

                            &::before {
                                content: "\1040";
                                color: #f6758f;
                                position: absolute;
                                top: 0px;
                                left: 25px;
                            }
                        }
                    }
                }

                .bravo-reviews {
                    .review-box .review-box-score .review-score {
                        color: #f6758f;
                    }

                    .review-box .review-box-score .review-score-base span {
                        color: #f6758f;
                    }
                }

                .bravo_tour_book_wrap {
                    margin-top: 20px;
                    @media(max-width: 990px) {
                        display: none;
                        margin: 0;
                        #sticky-wrapper {
                            .bravo_tour_book {
                                position: relative !important;
                                top: 0 !important;
                                width: auto !important;
                            }
                        }
                        &.show {
                            position: fixed;
                            z-index: 3000;
                            left: 0px;
                            right: 0px;
                            padding: 20px !important;
                            overflow: scroll;
                            height: 100%;
                            top: 0px;
                            display: flex !important;
                            width: 100%;
                            flex-wrap: wrap;
                            align-items: center;

                            .bravo_tour_book {
                                flex-grow: 1;
                            }

                            #sticky-wrapper {
                                height: auto !important;
                                flex: 1;
                            }

                            .form-head {
                                padding: 10px 15px;

                                .price .value .onsale {
                                    display: inline-block;
                                    font-size: 16px;
                                }
                            }

                            .form-guest-search, .form-section-group, .date-wrapper {
                                padding: 10px 15px;
                            }

                            label {
                                margin: 0 !important;
                            }

                            .form-section-group {
                                .form-section-title {
                                    font-size: 16px;
                                }

                                .form-group {
                                    padding-top: 0;

                                    &:last-child {
                                        padding-bottom: 0;
                                    }
                                }
                            }

                            .submit-group {
                                padding: 10px 15px;
                                text-align: right;

                                .btn {
                                    padding: 7px 16px 5px;
                                    font-size: 14px;
                                    width: auto;
                                }
                            }

                        }
                    }
                }

                .bravo_tour_book {
                    border: 1px solid #D7DCE3;
                    border-top: 5px solid #f6758f;
                    border-radius: 0 0 4px 4px;
                    background: #FFF;
                    position: relative;

                    .tour-sale-box {
                        position: absolute;
                        top: -5px;
                        overflow: hidden;
                        height: 70px;
                        width: 70px;
                        right: -1px;

                        .sale_class {
                            position: absolute;
                            width: 90px;
                            height: 48px;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            right: -30px;
                            top: -9px;
                            line-height: 65px;
                            text-align: center;
                            color: #fff;
                            font-size: 15px;
                            z-index: 8;
                            background-color: #cc0033;
                        }
                    }

                    .form-head {
                        position: relative;
                        padding: 20px;
                        color: #5E6D77;
                        font-size: 14px;
                        border-bottom: 1px solid #D7DCE3;

                        .price {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: end;
                            -ms-flex-align: end;
                            align-items: flex-end;
                            font-size: 18px;
                            color: #1A2B48;
                            font-weight: 500;

                            .label {
                                font-size: 14px;
                                color: #5E6D77;
                                font-weight: 400;
                                padding: 0 0 0 10px;
                                position: relative;
                                top: -3px;
                            }

                            .value {
                                line-height: 28px;

                                .text-lg {
                                    font-weight: 500;
                                    font-size: 24px;
                                    color: #00001E;
                                }

                                .onsale {
                                    display: block;
                                    text-decoration: line-through;
                                    font-size: 17px;
                                    color: #cc0033 !important;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                        }
                    }

                    .form-content {
                        .form-group {
                            margin-bottom: 0;
                            border-bottom: 1px solid #D7DCE3;
                        }
                        .tour-add-date,.tour-delete-date{
                            display: block;
                            color: #54a79f;
                            cursor: pointer;
                            padding:4px 0px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        .tour-date-actions{
                            display: flex;
                            justify-content: space-between;
                            padding: 0px 20px;
                        }
                    }

                    .form-date-search {
                        position: relative;

                        .start_date {
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                        }
                    }

                    .form-select-slots {
                        padding: 15px 20px;
                        label {
                            font-size: 16px;
                            color: #2c2e36;
                            margin-bottom: 10px;
                        }
                        overflow: hidden;

                        .slots-wrapper {
                            max-height: 150px;
                            overflow-y:auto;
                            padding-right: 7px;
                            div {
                                cursor: pointer;
                                padding: 15px;
                                font-size: 14px;
                                background-color: #ffffff;
                                width: 100%;
                                border-radius: 5px;
                                border:1px solid #54a79f;
                                margin-bottom: 5px;
                                color: #54a79f;

                                &.active {
                                    background-color: #54a79f;
                                    color: #ffffff;
                                }
                            }
                        }
                    }

                    .attr-booking-form {
                        padding: 15px 20px;

                        label {
                            font-size: 16px;
                            color: #2c2e36;
                            margin-bottom: 10px;
                        }

                        .select2-selection--single {
                            height: 50px;

                            .select2-selection__rendered {
                                line-height: 50px;
                            }
                        }
                    }

                    .date-wrapper, .form-guest-search {
                        padding: 15px 20px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;

                        .check-in-wrapper, .guest-wrapper {
                            padding: 0;
                            width: 100%;
                            float: left;

                            label {
                                font-size: 16px;
                                color: #1A2B48;
                                font-weight: 500;
                                margin-bottom: 5px;
                            }

                            .render {
                                font-size: 13px;
                                color: #5E6D77;
                            }
                        }

                        .fa {
                            font-size: 25px;
                        }
                    }

                    .form-section-group {
                        padding: 15px 20px;

                        .form-section-title {
                            font-size: 18px;
                        }

                        label {
                            font-size: inherit;
                            color: #1A2B48;
                            font-weight: 500;
                            margin-bottom: 0px;
                        }

                        .render {
                            font-size: 13px;
                            color: #5E6D77;
                        }

                        .form-group {
                            padding: 10px 0px;
                            border-bottom: 0px;
                        }
                    }

                    .form-guest-search {
                        padding-right: 12px;
                    }

                    .submit-group {
                        border-top: 1px solid #D7DCE3;
                        padding: 20px;

                        .btn {
                            width: 100%;
                            font-size: 16px;
                            padding: 12px 25px;
                            color: #FFF;
                        }

                        .alert-text {
                            margin-top: 10px;
                        }
                    }

                    .form-section-total {
                        border-top: 1px solid #d7dce3;
                        padding: 15px 20px;

                        label {
                            font-size: 16px;
                            margin-bottom: 0;
                        }

                        .price {
                            float: right;
                        }
                    }
                }

                .share{
                    text-align: right;
                    a{
                        display: inline-flex;
                        border: solid 1px #54a79f;
                        border-radius: 5px;
                        margin: 0 2px;
                        width: 33px;
                        height: 33px;
                        align-items: center;
                        justify-content: center;
                    }
                    .facebook{
                        border-color: #466bb3;
                        color: #466bb3;
                    }
                    .twitter{
                        border-color: #55acee;
                        color: #55acee;
                    }
                    .linkedin{
                        border-color: #0077b7;
                        color: #0077b7;
                    }
                    .email{
                        border-color: #fe4a57;
                        color: #fe4a57;
                    }
                    .reddit{
                        border-color: #ff4500;
                        color: #ff4500;
                    }
                }
            }

            .bravo-list-tour-related {
                margin-top: 15px;
                border-top: solid 1px #EAEEF3;
                margin-bottom: 15px;
                @media(max-width: 990px) {
                    border-top: 0;
                }

                h2 {
                    font-size: 28px;
                    margin-top: 35px;
                    text-align: center;
                    margin-bottom: 35px;
                    @media(max-width: 766px) {
                        margin-top: 0px;
                        font-size: 24px;
                    }
                }
            }

            .bravo-more-book-mobile {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                background: #fff;
                z-index: 11;
                display: none;
                border-top: solid 1px #ddd;
                @media(max-width: 990px) {
                    display: block;
                }

                .container {
                    align-items: center;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    height: 65px;
                    flex-wrap: wrap;
                }

                .left, .right {
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                .left {
                    .g-price {
                        .prefix {
                            color: #5E6D77;
                            display: inline-block;

                            i {
                                font-size: 16px;
                                color: #ffc107;
                            }
                        }

                        .fr_text {
                            font-size: 12px;
                        }

                        .price {
                            position: relative;
                            display: inline-block;

                            .text-price {
                                font-size: 20px;
                                color: #1A2B48;
                                font-weight: 500;
                            }

                            .onsale {
                                text-decoration: line-through;
                                font-size: 16px;
                                color: #cc0033 !important;
                                font-weight: 400;
                            }
                        }

                        i {
                            font-size: 18px;
                        }
                    }

                    .service-review {
                        .list-star {
                            display: inline-block;
                            line-height: 13px;
                            position: relative;

                            .booking-item-rating-stars {
                                padding: 0;
                                margin: 0;
                                width: 90px;

                                &:before, &:after {
                                    content: "";
                                    display: table;
                                    clear: both;
                                }

                                li {
                                    list-style: none;
                                    float: left;
                                    margin-right: 5px;

                                    &:last-child {
                                        margin-right: 0;
                                    }

                                    .fa {
                                        font-size: 15px;
                                        color: #FFDC00;
                                    }
                                }
                            }

                            .booking-item-rating-stars-active {
                                position: absolute;
                                width: 0;
                                top: 0;
                                left: 0;
                                overflow: hidden;
                            }
                        }

                        .review {
                            position: relative;
                            top: -2px;
                            font-size: 13px;
                            color: #768092;
                            margin-left: 10px;
                            @media(max-width: 340px) {
                                display: none;
                            }
                        }
                    }
                }

                .right {
                    text-align: right;

                }

                .btn-primary {
                    padding: 8px 20px 6px;
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }

        //  booking
        .review-list {
            .slot-active {
                margin: 2px;
                font-size: 12px;
                background-color: #dadada;

                &.active {
                    background-color: #38C172;
                    color: #ffffff;
                }
            }
        }
    }

}

.booking-review {
    .booking-review-content {
        .review-list {
            li {
                flex-wrap: wrap;
            }
        }
    }
}

body .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .attr-booking-form .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}
body .bravo_wrap .bravo_detail_tour .bravo_content .bravo_tour_book .attr-booking-form .select2-selection--single {
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 6px;
    right: 5px;
    width: 20px;
}