@import "tour";

.bravo_wrap {
    .bravo_topbar {
        background: #2b2e35 !important;

        .content {
            .dropdown-menu {
                min-width: auto;
                background: #2b2e35 !important;;
            }
        }
    }

    .bravo_header {
        background: #fff;

        .content {
            background: #fff;

            .header-left {
                flex: 0 0 75%;
            }

            .header-right {
                text-align: right;
                flex: 0 0 25%;

                .btn-professional {
                    color: #fff;
                    background: #f6768f;
                    border-radius: 10px;
                    text-transform: uppercase;
                    max-width: 240px;
                    @media(max-width: 1023px) {
                        display: none !important;
                    }

                    i {
                        margin-right: 5px;
                        font-size: 20px;
                        line-height: 13px;
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
    }

    .bravo_user_profile > .container-fluid > .row-eq-height > .col-md-3 {
        background: #2b2e35;
    }

    .bravo_user_profile > .container-fluid > .row-eq-height > .col-md-3:after {
        background-color: #2b2e35;
    }

    .bravo_user_profile .user-profile-avatar {
        border-bottom: none;
        background: none !important;
    }

    .bravo_user_profile .sidebar-user .logo .avatar-text {
        background: #f6768f;
    }

    .bravo_user_profile .sidebar-menu ul li.active > a, .bravo_user_profile .sidebar-menu ul li:hover > a {
        color: #f6768f;
    }

    .bravo_user_profile .sidebar-menu ul li.active > a i, .bravo_user_profile .sidebar-menu ul li:hover > a i {
        color: #f6768f;
    }

    .bravo_user_profile .booking-history-manager .tabbable .ht-nav-tabs li.active a {
        color: #f6768f !important;
        border-bottom: 3px solid #f6768f !important;
    }

    .bravo_form {
        box-shadow: none;
        border: solid 2px #9a98a6;

        .field-icon {
            margin-top: -13px;
            font-size: 28px;
            color: #2c2e36 !important;
            z-index: 1;
        }

        .form-content {
            padding: 0;

            .form-control {
                height: 70px;
                color: #9a98a6 !important;
                font-weight: 600;
                border: none;

                &::-webkit-input-placeholder {
                    color: #9a98a6 !important;
                }

                &::-moz-placeholder {
                    color: #9a98a6 !important;
                }

                &:-ms-input-placeholder {
                    color: #9a98a6 !important;
                }

                &:-moz-placeholder {
                    color: #9a98a6 !important;
                }

                &::placeholder {
                    color: #9a98a6 !important;
                    font-weight: 600;
                }
            }

            .post_code {
                margin-left: 30px;
                font-size: 16px;
                outline-offset: inherit;
                outline: none !important;
                box-shadow: none;
                width: calc(100% - 30px);
            }
        }

        .smart-search {
            &:after {
                display: none !important;
            }
        }

        .g-button-submit button {
            border-radius: 0;
            margin-left: 0;
        }
    }

    .page-template-content {
        .bravo-header-custom {
            @media(max-width: 768px) {
                display: none;
            }

            .bravo_header {
                .header-left {
                    padding-left: 70px;
                    flex: 0 0 30%;
                    @media(max-width: 1280px) {
                        padding-left: 0;
                    }
                }

                .header-right {
                    flex: 0 0 70%;

                    .btn-professional {
                        background: #fff;
                        color: #000;
                        font-weight: 600;
                        border-radius: 10px;
                        padding: 10px 15px;
                        margin-left: 15px;
                        min-width: 100px;
                    }

                    .btn-same {

                    }
                }
            }
        }

        .bravo-form-search-tour {
            @media(max-width: 1023px) {
                padding: 50px 0 15px;
            }

            .g-form-control {
                margin-top: 0;
            }

            .text-heading {
                color: #2c2e36;
                text-align: left !important;
                padding-left: 100px;
                font-size: 48px;
                @media(max-width: 1023px) {
                    font-size: 20px;
                }
            }

            .sub-heading {
                color: #9a98a6;
                text-align: left !important;
                padding-left: 100px;
                font-size: 22px;
                margin-bottom: 30px;
                @media(max-width: 1023px) {
                    font-size: 18px;
                }
            }
        }

        .bravo-form-search-tour-2 {
            background-position: 50% !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            position: relative;
            margin-top: -91px;
            @media(max-width: 1023px) {
                margin-top: 0;
            }

            .text-heading {
                color: #000a34;
                text-align: left !important;
                font-size: 60px;
                font-weight: 900;
                @media(max-width: 1023px) {
                    font-size: 20px;
                }
            }

            .sub-heading {
                color: #2c2e36;
                text-align: left !important;
                font-size: 18px;
                margin-bottom: 30px;
                @media(max-width: 1023px) {
                    font-size: 18px;
                }
            }

            .container {
                padding: 190px 0 270px;
                @media(max-width: 1023px) {
                    padding: 90px 15px 230px;
                }
                @media(max-width: 766px) {
                    padding: 90px 15px 15px;
                }
            }

            .g-form-book {
                position: absolute;
                bottom: 35px;
                background: #fff;
                padding: 35px 40px 40px;
                border-radius: 35px;
                min-width: 530px;
                @media(max-width: 1023px) {
                    max-width: none;
                    min-width: auto;
                    padding: 15px 25px;
                    border-radius: 10px;
                    bottom: 15px;
                }
                @media(max-width: 766px) {
                    position: relative;
                    border-radius: 10px;
                    padding: 15px;
                }

                .title {
                    font-weight: bold;
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                .g-field-search {
                    .col-md-6 {
                        &:nth-child(1) {
                            display: none;
                        }

                        flex: 0 0 100%;
                        max-width: 100%;
                        border-right: none !important;
                    }
                }

                .g-field-search {
                    flex: 0 0 80%;
                    max-width: 80%;
                }

                .g-button-submit {
                    flex: 0 0 20%;
                    max-width: 20%;
                }

                .form-content .form-control {
                    height: 60px !important;
                }
            }
        }

        .bravo_form_book_select {
            .g-field-search {
                .col-md-6 {
                    &:nth-child(1) {
                        display: block !important;
                    }

                    &:nth-child(2) {
                        display: none !important;
                    }
                }
            }

            .bravo-autocomplete {
                display: none;

                &.show {
                    display: block;
                }
            }
        }

        .bravo-modal-ver2 {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 200;
            display: none;
            overflow-y: scroll;

            &.active {
                display: block;
            }

            .bravo-modal-content {
                position: relative;
                z-index: 20;
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;

                .context {
                    background: #fff;
                    width: 880px;
                    padding: 70px;
                    box-shadow: 0 0 10px -2px #000;
                    border-radius: 5px;
                    color: #2c2e36;
                    position: relative;
                    z-index: 200;
                    /*max-height: 90%;*/
                    /*overflow-y: scroll;*/
                    @media(max-width: 1023px) {
                        max-width: 90%;
                        padding: 30px;
                    }
                    @media(max-width: 520px) {
                        padding: 15px;
                    }

                    .title {
                        font-size: 21px;
                        padding-bottom: 30px;
                        text-align: center;
                        @media(max-width: 520px) {
                            font-size: 18px;
                            padding-top: 0;
                            padding-bottom: 10px;
                        }
                    }

                    .title2 {
                        font-size: 21px;
                        padding-bottom: 30px;
                        text-align: center;
                        padding-top: 30px;
                        @media(max-width: 520px) {
                            font-size: 18px;
                            padding-top: 0;
                            padding-bottom: 10px;
                        }
                    }

                    > .list-item {
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -15px;

                        .col {
                            flex: 0 0 33.33%;
                            max-width: 33.33%;
                            padding: 0 15px;
                            margin-bottom: 30px;
                            @media(max-width: 766px) {
                                flex: 0 0 50%;
                                max-width: 50%;
                                margin-bottom: 15px;
                            }
                        }

                        .item {
                            padding: 20px;
                            text-align: center;
                            border: solid 1px #d1d1d1;
                            box-shadow: 0 0 9px 0px #d1d1d1;
                            cursor: pointer;
                            @media(max-width: 520px) {
                                padding: 5px;
                            }

                            .img {
                                height: 105px;
                                margin-bottom: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                @media(max-width: 520px) {
                                    height: 80px;
                                }

                                img {
                                    @media(max-width: 520px) {
                                        max-width: 45px;
                                    }
                                }
                            }

                            .text {
                                font-size: 16px;
                                font-weight: 500;
                                color: #2c2e36;
                            }

                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .bravo-effect {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: #fff;
                z-index: 10;
                opacity: 0.8;
            }

            .g-form-book {
                .g-field-search {
                    .col-md-6 {
                        &:nth-child(1) {
                            display: none;
                        }

                        flex: 0 0 100%;
                        max-width: 100%;
                        border-right: none !important;
                    }
                }

                .g-field-search {
                    flex: 0 0 80%;
                    max-width: 80%;
                }

                .g-button-submit {
                    flex: 0 0 20%;
                    max-width: 20%;
                }

                .form-content .form-control {
                    height: 60px !important;
                }
            }
        }

        .bravo-vendor-form-register{
            &.ver-2{
                background: #f4f4f4;
                padding: 70px 0 60px;
                @media (max-width: 768px){
                    padding: 0 0 15px;
                }
                h2{
                    color: #62aea6;
                    margin-top: 50px;
                    @media(max-width: 768px) {
                        margin-top: 30px;
                        margin-bottom: 5px;
                    }
                }
                .f-submit{
                    display: flex;
                    align-items: flex-end;
                }
                .form-submit{
                    margin-bottom: 15px;
                    width: 100%;
                    @media (max-width: 768px){
                        width: auto;
                    }
                }
                label{
                    font-weight: 600;
                    margin-bottom: 5px;
                }
            }
        }
        .why-use {
            padding: 50px 0;
            color: #2c2e36;
            .title {
                text-align: center;
                font-size: 36px;
                margin-bottom: 30px;

                font-weight: 600;
                color: #54a79f;
                @media(max-width: 766px) {
                    font-size: 28px;
                }
            }
            .list-item {
                max-width: 850px;
                margin: auto;
                .item {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 50px -15px 50px;
                    img {
                        max-width: 100%;
                    }
                    .left {
                        flex: 0 0 60%;
                        text-align: left;
                        padding: 0 55px;
                        order: 1;
                        max-width: 60%;
                        @media(max-width: 766px) {
                            padding: 0 15px;
                            flex: 0 0 30%;
                            max-width: 30%;
                        }
                    }
                    .right {
                        padding: 0 55px;
                        order: 2;
                        max-width: 40%;
                        flex: 0 0 40%;
                        text-align: right;
                        @media(max-width: 766px) {
                            padding: 0 15px;
                            flex: 0 0 70%;
                            max-width: 70%;
                        }
                    }
                    .text-1 {
                        font-size: 36px;
                        margin: 10px 0;
                        font-weight: 600;
                        color: #54a79f;
                        @media(max-width: 766px) {
                            font-size: 18px;
                            margin: 5px 0 5px;
                        }
                    }
                    .text-2 {
                        font-size: 16px;
                        max-width: 370px;
                        display: inline-block;
                        @media(max-width: 766px) {
                            font-size: 14px;
                            br {
                                display: none;
                            }
                        }
                    }
                    .line {
                        height: 120px;
                        flex: 0 0 100%;
                        background-repeat: no-repeat !important;
                        background-position: center;
                        margin: 30px 0;
                        order: 3;
                    }
                }
                .item-2 {
                    .left {
                        order: 2;
                        text-align: right;
                    }
                    .right {
                        order: 1;
                        text-align: left;
                        .number {
                            margin-left: auto;
                        }
                    }
                }

                @media(max-width: 766px) {
                    .left {
                        order: 2 !important;
                        flex: 0 0 70% !important;
                        max-width: 70% !important;
                        text-align: left !important;
                    }
                    .right {
                        order: 1 !important;
                        text-align: left !important;
                        flex: 0 0 30% !important;
                        max-width: 30% !important;
                        .number {
                            margin-left: 0;
                        }
                    }
                }
            }

        }
        .steps-to{
            background: #f4f4f4;
            padding: 70px 0 60px;
            .title {
                text-align: center;
                font-size: 36px;
                margin-bottom: 30px;
                font-weight: 600;
                color: #54a79f;
                @media(max-width: 766px) {
                    font-size: 28px;
                }
            }
            .list-item {
                display: flex;
                flex-wrap: wrap;
                margin: 0 - 15px;
                .item {
                    flex:0 0 33.33%;
                    padding: 35px 15px;
                    text-align: center;
                    @media(max-width: 766px) {
                        flex:0 0 100%;
                        padding: 15px;
                    }
                    .text-1 {
                        margin-bottom: 40px;
                        img{
                            max-width: 160px;
                            @media (max-width: 768px){
                                max-width: 100px;
                            }
                            @media(max-width: 766px) {
                                max-width: 70px;
                            }
                        }
                        @media(max-width: 766px) {
                            margin-bottom: 10px;
                        }

                    }
                    .text-2 {
                        font-size: 16px;
                        max-width: 285px;
                        display: inline-block;
                        color: #54a79f;
                        @media(max-width: 766px) {
                            font-size: 14px;
                            br {
                                display: none;
                            }
                        }
                    }
                }
            }
            .g-button{
                text-align: center;
                margin-top: 30px;
                a{
                    padding: 10px 25px;
                    background: #54a79f;
                    color: #fff;
                    border-radius: 10px;
                    font-size: 20px;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }
        .what-you-get{
            padding: 70px 0 60px;
            @media(max-width: 766px) {
                padding: 30px 0 30px;
            }
            .title {
                text-align: center;
                font-size: 36px;
                margin-bottom: 30px;
                font-weight: 600;
                color: #54a79f;
                @media(max-width: 766px) {
                    font-size: 28px;
                }
            }
            .list-item {
                max-width: 600px;
                margin: auto;
                font-size: 16px;
                font-weight: 500;
                @media(max-width: 766px) {
                    font-size: 14px;
                }
                .item{
                    margin-bottom: 15px;
                }
                .dot{
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #54a79f;
                    display: inline-block;
                    margin-right: 30px;
                    @media(max-width: 766px) {
                        margin-right: 15px;
                    }
                }
            }
        }
        .vendor-faqs{
            .title {
                text-align: center;
                font-size: 36px;
                margin-bottom: 30px;
                font-weight: 600;
                background: #54a79f;
                color: #000;
                @media(max-width: 766px) {
                    font-size: 28px;
                }
            }
        }
        .bravo-faq-lists{
            &.ver-2{
                .title{
                    background: #54a79f;
                    color: #002925;
                    padding: 15px 0;
                    @media(max-width: 766px) {
                        font-size: 28px;
                    }
                }
                h3{
                    color: #1a2b48;
                }
                .faq-item{
                    margin-bottom: 0;
                    border: none;
                    @media(max-width: 768px) {
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }

    .page-template-content .bravo-list-locations .list-item .destination-item .image .content .desc {
        background-color: #f6758f !important;
    }

    .page-template-content .bravo-list-locations .title {
        font-size: 28px;
        @media(max-width: 1023px) {
            font-size: 18px;
        }
    }

    .page-template-content .bravo-featured-item {
        border-bottom: none;

        .featured-item {
            .content {
                margin-left: 80px;
                padding: 15px 0;

                .desc {
                    font-size: 12px;
                }
            }
        }

        &.style3 {
            border-bottom: none;
            margin: 0 0 30px;
            padding-bottom: 15px;

            .featured-item {
                border: 1px solid #ccc;
                border-radius: 0;
                padding: 50px 35px;
                margin-bottom: 30px;
                @media(max-width: 1023px) {
                    padding: 10px 15px;
                }

                &:hover {
                    border-color: #ccc !important;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 10px;
                        border-top: solid 1px #ccc;
                        left: 20%;
                        right: 20%;
                    }
                }

                .content {
                    text-align: left;

                    .title {
                        font-size: 21px;
                        color: #2c2e36 !important;
                        min-height: 50px;
                        text-shadow: 0 0 0 #000;
                        @media(max-width: 1023px) {
                            min-height: auto;
                        }
                    }

                    .desc {
                        font-size: 16px;
                        color: #2c2e36 !important;
                        text-shadow: 0 0 0 #000;
                        min-height: 215px;
                        @media(max-width: 1023px) {
                            min-height: auto;
                        }
                    }
                }
            }
        }
    }

    .bravo_custom_text_1 {
        margin-top: 50px;
        @media(max-width: 1023px) {
            margin-top: 20px;
            span {
                font-size: 24px !important;
            }
        }

        span {
            color: #2c2e36 !important;
            font-size: 28px !important;
        }
    }

    .bravo-list-locations.style2 {
        margin-bottom: 60px;
        margin-top: 20px;

        .title {
            font-size: 28px;
            margin-bottom: 10px;
        }

        .item {
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            min-height: 100px;

            img {
                width: auto !important;
            }
        }
    }

    .bravo-list-locations.style3 {
        padding: 40px 0 25px;
        @media(max-width: 766px) {
            padding: 20px 0 5px;
        }

        .title {
            display: none;
        }

        .list-item {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            @media(max-width: 766px) {
                justify-content: left;
            }

            a {
                padding: 4px 25px;
                background: #ffa2b4;
                margin: 0 10px;
                border-radius: 15px;
                color: #2c2e36;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 15px;

                &:nth-child(2n+1) {
                    background: #83e5e6;
                }

                @media(max-width: 766px) {
                    margin: 0 5px 10px;
                    font-size: 14px;
                }
            }
        }
    }

    .page-template-content .bravo-list-tour .item-tour .service-review {
        padding: 10px 15px 0px;
    }

    .page-template-content .bravo-call-to-action .context {
        background: #f7c9c9;
    }

    .page-template-content .bravo-list-tour .item-tour .location i {
        color: #54a79f;
        position: relative;
        top: 2px;
    }

    .bravo_form .smart-search .bravo-autocomplete {
        margin-top: 2px;

        .icofont-location-pin {
            display: none;
        }
    }

    .bravo_footer {
        .custom-form-search {
            padding-top: 65px;
            padding-bottom: 40px;
            background: #98dede;

            .bravo_form {
                .g-button-submit button {
                    background-color: #2c2e36;
                }
            }
        }
    }

    .contact-info .info-content {
        background-color: #2b2e35;
    }

    .page-template-content {
        .text-block-featured {
            background: #f2f2f2;
            color: #000a34;
            padding: 60px 0 80px;
            @media(max-width: 1023px) {
                padding: 30px 0;
            }

            .title {
                font-size: 36px;
                margin-top: 30px;
                margin-bottom: 30px;
                font-weight: bold;
                @media(max-width: 766px) {
                    font-size: 20px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            .context {
                font-size: 18px;
                line-height: 30px;
                @media(max-width: 1200px) {
                    font-size: 16px;
                }

                p {
                    margin-bottom: 0;
                    @media(max-width: 766px) {
                        display: inline;
                    }
                }

                @media(max-width: 766px) {
                    font-size: 14px;
                }
            }

            .list-item {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -3px;

                .col {
                    flex: 0 0 33.33%;
                    padding: 0 3px;
                    margin-bottom: 6px;
                    @media(max-width: 766px) {
                        flex: 0 0 50%;
                    }

                    .item {
                        background: #fff;
                        height: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .list_logo {
                text-align: right;

                img {
                    max-width: 100%;
                }

                @media(max-width: 1023px) {
                    text-align: left;
                    margin-top: 30px;
                }
            }
        }

        .how-it-works {
            padding: 50px 0;
            color: #2c2e36;

            .title {
                text-align: center;
                color: #2c2e36;
                font-size: 36px;
                margin-bottom: 30px;
                @media(max-width: 766px) {
                    font-size: 28px;
                }
            }

            .list-item {
                .item {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 -15px 15px;

                    img {
                        max-width: 100%;
                    }

                    .left {
                        flex: 0 0 50%;
                        text-align: right;
                        padding: 0 55px;
                        order: 1;
                        max-width: 50%;
                        @media(max-width: 766px) {
                            padding: 0 15px;
                            flex: 0 0 30%;
                            max-width: 30%;
                        }
                    }

                    .right {
                        padding: 0 55px;
                        order: 2;
                        max-width: 50%;
                        flex: 0 0 50%;
                        @media(max-width: 766px) {
                            padding: 0 15px;
                            flex: 0 0 70%;
                            max-width: 70%;
                        }
                    }

                    .number {
                        width: 45px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        background: #83e5e6;
                        font-size: 20px;
                        font-weight: bold;
                        @media(max-width: 766px) {
                            width: 30px;
                            height: 30px;
                            font-size: 16px;
                        }
                    }

                    .text-1 {
                        font-size: 21px;
                        margin: 10px 0;
                        @media(max-width: 766px) {
                            font-size: 18px;
                            margin: 5px 0 5px;
                        }
                    }

                    .text-2 {
                        font-size: 16px;
                        @media(max-width: 766px) {
                            font-size: 14px;
                            br {
                                display: none;
                            }
                        }
                    }

                    .line {
                        height: 120px;
                        flex: 0 0 100%;
                        background-repeat: no-repeat !important;
                        background-position: center;
                        margin: 30px 0;
                        order: 3;
                    }
                }

                .item-2 {
                    .left {
                        order: 2;
                        text-align: left;
                    }

                    .right {
                        order: 1;
                        text-align: right;

                        .number {
                            margin-left: auto;
                        }
                    }

                    @media(max-width: 766px) {
                        .left {
                            order: 1;
                        }
                        .right {
                            order: 2;
                            text-align: left;

                            .number {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }

            .line {
                @media(max-width: 766px) {
                    display: none;
                }
            }
        }

        .about-featured {
            padding: 60px 0 80px;
            text-align: center;
            background-position: center;
            background-size: cover;
            @media(max-width: 766px) {
                padding: 30px 0;
            }

            .title {
                font-size: 42px;
                color: #000a34;
                margin-bottom: 5px;
                @media(max-width: 766px) {
                    font-size: 20px;
                }
            }

            .sub-title {
                font-size: 18px;
                color: #000a34;
                margin-bottom: 50px;
                @media(max-width: 766px) {
                    font-size: 14px;
                    margin-bottom: 20px;
                }
            }

            .list-item {
                max-width: 550px;
                background: #ffa2b4;
                border-radius: 10px;
                box-shadow: 0 0 0 #000;
                padding: 30px 100px;
                margin: auto;
                @media(max-width: 766px) {
                    padding: 30px;
                }
                @media(max-width: 460px) {
                    padding: 20px;
                }

                .item {
                    position: relative;
                    min-height: 80px;
                    padding-left: 95px;
                    text-align: left;
                    color: #2c2e36;
                    font-weight: 500;
                    margin-bottom: 25px;
                    @media(max-width: 460px) {
                        padding-left: 70px;
                    }

                    .icon {
                        position: absolute;
                        left: 0;
                        top: 0;

                        img {
                            @media(max-width: 460px) {
                                max-width: 50px;
                            }
                        }
                    }

                    .text-1 {
                        font-size: 19px;
                        margin-bottom: 5px;
                        padding-top: 5px;
                        @media(max-width: 766px) {
                            font-size: 17px;
                        }
                    }

                    .text-2 {
                        font-size: 12px;
                    }
                }
            }
        }

        .bravo-testimonial {
            &.style2 {
                background: #f2f2f2;
                margin: 0;
                padding: 70px 0 50px;
                @media(max-width: 766px) {
                    padding: 50px 0 30px;
                }

                h3 {
                    text-align: center;
                    padding-bottom: 15px;
                    font-size: 30px;
                    @media(max-width: 766px) {
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }


        .vendor-about-text{
            padding: 30px 0;
            img{
                max-width: 100%;
            }
            .title{
                font-size: 36px;
                font-weight: 600;
                margin-bottom: 30px;
                @media(max-width: 768px){
                    margin-bottom: 15px;
                    font-size: 24px;
                   /* br{
                        display: none;
                    }*/
                }
            }
            .desc{
                font-size: 18px;
                line-height: 36px;
                @media(max-width: 768px){
                    margin-bottom: 15px;
                }
            }
            .go_to_faqs{
                margin-top: 15px;
                display: inline-block;
                background: #54a79f;
                color: #fff;
                padding: 8px 25px;
                border-radius: 10px;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 766px) {
    .bravo_wrap {
        .page-template-content {
            .bravo-form-search-tour {
                .text-heading {
                    padding-left: 0px;
                }

                .sub-heading {
                    padding-left: 0px
                }
            }
        }
    }
}

#bravo_custom_tour_book_app {
    .select2-container {
        width: 100% !important;
    }
}

.bravo_wrap .page-template-content .bravo_form .g-button-submit button {
    margin-left: 1px;
}

body .bravo_wrap .bravo_detail_tour .bravo_content .g-term .item img {
    width: auto;
}

@media (max-width: 1023px) {
    .bravo_wrap .bravo_form .smart-search .bravo-autocomplete {
        left: 0;
    }
    body .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info .duration {
        width: 100% !important;
        float: none;
        text-align: center;
        align-items: center;
        color: #5e6d77;
        position: relative;
        top: 5px;
        font-size: 18px;
    }
    body .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info .g-price {
        width: 100% !important;
        float: none;
        text-align: center;
    }
    body .bravo_wrap .bravo_search_tour .bravo-list-item .list-item .item-tour .info {
        padding: 10px !important;
        margin-top: 10px;
    }
}

body .bravo_wrap .bravo-checkbox input[type=checkbox]:checked + .checkmark:after {
    border: solid #54a79f;
    border-width: 0 2px 2px 0;
}

.availability-key {
    background-color: #a8b1b6;
    border: 2px solid transparent;
    cursor: pointer;

    &.active, &:hover {
        border: 2px solid #000000;
    }

    &.available {
        background-color: #54b5bc;
    }

    &.takeaseat {
        background-color: #cd6c7f;
    }

    &.other {
        background-color: #cc932c;
    }


}

.months-calendar {

    .datepicker.datepicker-inline {
        width: auto;

        .table-condensed {
            width: 100%;
        }

        td, th {
            height: 30px;
        }
    }
}

body .dates-calendar {
    .fc-time-grid-event .fc-time {
        display: none;
    }

    .fc-event {
        padding: 0px;
        height: auto;
    }
}

body .bravo_wrap .bravo_detail_tour .bravo_content{
    .g-faq2{
        .item{
            margin: 15px 0;
            .desc{
                border: solid 1px #ccc;
                padding: 10px;
                margin-top: 10px;
            }
        }
    }
}

.bravo_search_tour .bravo_filter {
    &.hide-item{
        @media(max-width: 990px){
            .g-filter-item{
                display: none;
            }
        }
    }
}

.bravo_custom_detail_booking_for_calendar{
    padding: 32px 31px;
    background: #FFF;
    @media (max-width: 1024px) {
        padding: 15px;
    }
    .nav-tabs .nav-link {
        padding: 8px 5px;
    }
    .tabbable{
        .booking-history-type {
            text-align: center;
            i{
                display: block;
                font-size: 25px;
                color: #626262;
                margin-bottom: 2px;
            }
            small{
                line-height: 1em;
                display: block;
            }
        }
        .ht-nav-tabs{
            border: none;
            margin-bottom: 37px;
            @media (max-width: 990px) {
                margin-bottom: 15px;
            }
            li {
                margin-right: 30px;
                @media (max-width: 1024px) {
                    margin-right: 10px;
                }
                @media (max-width: 360px) {
                    width: 100%;
                }
                a {
                    text-transform: uppercase;
                    border: none;
                    font-size: 14px;
                    color: #1A2B48;
                    font-weight: 600;
                    text-decoration: none;
                    padding: 10px 5px;
                    width: 100%;
                    display: block;
                }
                &.active{
                    a {
                        color: #5191FA;
                        border-bottom: 3px solid #5191FA;
                    }
                }
            }
        }
    }
    .btn-info-booking{
        color: #FFF;
        width: 80px;
        padding: 2px 0;
        font-size: 13px;
        .fa {
            margin-right: 5px;
        }
    }
    .modal{
        .modal-footer{
            border: none;
            padding: 20px 0 0 0;
            @media (max-width: 766px) {
                padding: 10px 0;
            }
        }
    }
    .booking-review{
        .booking-review-title{
            display: none;
        }
        .booking-review-content{
            .review-section{
                padding: 0;
                border-bottom: 1px solid #EAEEF3;
                &:last-child{
                    border-bottom: 0px;
                }
                .service-info{
                    display: none !important;
                }
            }
            .service-info{
                .service-name{
                    a{
                        color: #1A2B48;
                        font-size: 16px;
                        line-height: 25px;
                        font-weight: 500;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
                .address{
                    color: #5E6D77;
                    margin-bottom: 0px;
                }
            }
            .review-list{
                margin: 0px;
                padding: 0px;
                list-style: none;
                li{
                    margin-bottom: 13px;
                    display: flex;
                    justify-content: space-between;
                    .val{
                        color: #5E6D77;
                    }
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    &.no-flex{
                        display: block;
                    }
                    ul{
                        padding-left: 15px;
                    }
                    &.final-total{
                        border-top: 1px solid #EAEEF3;
                        padding-top: 10px;
                        font-size: 19px;
                        .label{
                            font-weight: 500;
                        }
                        .val{
                            font-weight: 500;
                            color:#3490dc
                        }
                    }
                }
            }
            .review-section{
                ul{
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    li{
                        display: flex;
                        justify-content: space-between;

                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid #DAE1E7;


                        .val{
                            color: #5E6D77;
                        }
                        &:last-child{
                            margin-bottom: 0px;
                        }
                        &.no-flex{
                            display: block;
                        }
                        ul{
                            padding-left: 15px;
                        }
                    }
                }
            }
        }
    }
    .more-booking-review{
        .booking-review{
            padding: 10px 0;
            .booking-review-content{
                .review-section{
                    border: none;
                    &:first-child{
                        display: none;
                    }
                    .final-total{
                        border: none;
                    }
                }
                .no-flex{
                    ul{
                        li{
                            &:last-child{
                                border: none;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
            .total-review{
                padding-top: 10px;
            }
        }
    }

}